.hs-item {
    /* width: auto; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://storage.needpix.com/rsynced_images/background-2203989_1280.jpg);
}

form {
    padding-top: 1%;
    padding-left: 106px;
    padding-right: 106px;
    background-color: black;
    opacity: 0.8;
    margin-top: 70px;
}

label {
    color: white;
}



input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),

/* input[type="url"]:not(.browser-default), */

textarea.materialize-textarea {
    font-size: 1.5rem;
    padding-left: 10px;
}

input {
    background: white !important;
    color: black !important;
}

.details {
    margin: 10px 0px;
    padding: 15px 15px 0px 15px;
}

.prize {
    margin-bottom: 0px !important;
}
.poster img {
    width:70%;
    height: auto ;
}

@media screen and (max-width: 600px )  {
    .poster img{
        width:100%;
        height: auto ;
    }
    .container .hs-item {
        width: 100%;
        margin-top: 0;
    }
    form {
        padding-left: 4%;
        padding-right: 7%;
        background-color: black;
        opacity: 0.8;
        margin-top: 35%;
        margin-bottom: 13%;
    }
    .discount-font{
        font-size:20px;
    }
    .prize-font{
        font-size:13px;
    }
    table>tr>td{
        font-size:10px;
    }
}

.close {
    width: auto;
    background: black;
}

.helplines {
    color: black
}

.helplines label{
    color: black
}

h1,h2,h3,h4,h5,h5{
    color: black
}
h5{
font-family: 'Courier New', Courier, monospace;
}

.competition-fee tr :nth-child(2){
   white-space: nowrap;
}


td, th{
    padding: 5px ;
    border: 2px solid #c90fb9;
    border-radius: 60px ;
}
td .blinking{
    margin-right: 5px;
}


.change-language span{
    font-size: 20px;
}
.change-language button{
    margin-left: 10px;
    margin-top: 5px;
}
