<div class="center">
  <h2 style="font-weight:bold;color:green">GUIDELINES FOR MONTHLY COMPETITIONS</h2>
  <br>
  <label class="sub-title">
    STATE LEVEL, NATIONAL LEVEL & INTERNATIONAL LEVEL  
</label>
<br>
<br>
<div class="change-language">
  <button class="btn btn-primary btn-sm"
          style="margin-left:1%"
          onclick="setCookie('googtrans', '/hi/en', 30)">
      <span class="notranslate">ENGLISH</span>
  </button>

  <button class="btn btn-success btn-sm"
          onclick="setCookie('googtrans', '/hi/te', 30)">
      <span class="notranslate">తెలుగు</span>
  </button>

  <button class="btn btn-warning btn-sm"
          onclick="setCookie('googtrans', '/hi/ta', 30)"
         >
      <span class="notranslate">தமிழ்</span>
  </button>

  <button class="btn btn-info btn-sm"
          onclick="setCookie('googtrans', '/hi/kn', 30)"
         >
      <span class="notranslate">ಕನ್ನಡ</span>
  </button>

  <button class="btn btn-danger btn-sm"
          onclick="setCookie('googtrans', '/hi/ml', 30)"
          >
      <span class="notranslate">മലയാളം</span>
  </button>

  <button class="btn btn-info btn-sm"
          onclick="setCookie('googtrans', '/en/hi', 30)"
         >
      <span class="notranslate">हिंदी</span>
  </button>
</div>

<div class="row center" style="display: block;" >
  <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 30px; "> General Guidelines  </h3>
  <br>
  <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #0233bb; font-size: 1.8vw; ">
      <li>All songs should be play with Shruthi and Thalam</li>
      <li>Stick to the time limit allocated to your age category </li>
      <li>Announce only the song name, raga, thala and the composer's name before you start the Performance .</li>
      <li>Attire: Traditional Indian outfit (Music: Long skirt for Girls and sari for women & Kurtha or Dhothi for Boys/Men <br>
                                             Dance: Wear traditional dance dress.) </li>
  </ol>   
</div>

<div class="row center" style="display: block;" >
  <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 30px "> Audio and Video Guidelines  </h3>
  <br>
  <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #0233bb; font-size: 1.8vw; ">
      <li>Please use electronic tanpura/Shruthi box ONLY and put you can use metronome for thalam or anybody can show the thalam.</li>
      <li> Microphones are ok to use as long as it is setup properly.</li>
       <li>You can use tala app or mridangam for accompaniment</li>
<li>Your audio should be free from all background noise and clear for judges to hear</li> 
<li>Please do a test recording before the final version.</li>
<li> No karaoke music allowed for this video recording.</li>
<li>Use a tripod to shoot so there is NO shake in the video.</li>
<li>Video background can be plain/simple and match against the color of your outfit.</li>
<li> Avoid, white and black colors for video quality purposes.</li>
<li>Angle to center of the performer and close enough to see the vocalist's hand thalam</li>
<li>Only LIVE recording is permitted & date of recording should be mentioned. </li>
<li>Video should be in Landscape only and portrait mode will be disqualified.</li>

  </ol>
</div>

<div class="row center" style="display: block;" >
  <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 28px; "> JUDGMENT
      </h3>
  <br>
  <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #0233bb; font-size: 1.8vw; ">
      <li>Performance will be judged by senior & leading international music teachers </li>
      <li> Once registered, only registration number will be used for judgment</li>
      <li> Participation Certificates will be given to all the Participants </li>
      <li>Certificates will be issued for each and every category & levels</li>
       <li>1st, 2nd  3rd place Certificates will be issued for international/national/state - for each Category & levels </li>
      </ol>
</div>

<div class="row center"style="display: block;" >
  <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 28px; "> PRIZES & AWARDS
  </h3>
<br>
<P style="font-weight: bold;color:rgb(2, 38, 80); font-size:25px;">Winners will receive winning Certificates (Other than the winners, all the participants will receive International Music Competition Participation Certificate.)</P>
<br>
<ul class="m-sub-title" style="text-align:center; margin: auto; color:#0233bb; font-size:1.8vw; ">
<li> 1st Prize -  Gold Medal & Certificate</li>
<li> 2nd Prize -  Silver Medal & Certificate</li>
<li> 3rd Prize -  Bronze Medal & Certificate</li>
<li> Consolation - Certificate</li>
</ul>
</div>
<br>
<p style="font-weight: bold;color:rgb(2, 38, 80); font-size:25px"> Other than winners , all other participants will receive International Music Competition Participation Certificate. </p>
<br>






