
	<div class="id-card-holder" >
		<div class="id-card">
			<div class="header"> 
				<img src="https://ucarecdn.com/256ee029-abb2-4793-a04b-e69af27803c7/-/crop/618x116/192,206/-/preview/"> 
			</div>
			<div class="photo">
				
			</div>
			<h6 style="font-weight: bold;">MEMBER</h6>
			<h2 style="font-weight: bold;">{{ profileDetails.username }}</h2>
			<div class="qr-code">
				<img src="{{ profileDetails.profile_pic }}" style="height:100%;width:80%">
			</div>
			<h3 style="font-weight:bold;margin-top: 10px">
            ART FORM : {{ profileDetails.art_form }}
            </h3>
            <hr>
            <div class="address">
                <p>{{ profileDetails.address }}<p>
                <p>
                    {{ profileDetails.city }} <strong>- {{ profileDetails.zipcode }}</strong></p>
                <p>Ph: {{ profileDetails.mobile }} | E-mail: {{ profileDetails.email }} </p>

            </div>
		

		</div>
	</div>