
	<div class="id-card-holder" >
		<div class="id-card">
			<div class="header"> 
				<img src="https://ucarecdn.com/256ee029-abb2-4793-a04b-e69af27803c7/-/crop/618x116/192,206/-/preview/"> 
			</div>
			<div class="photo">
				
			</div>
			<h6 style="font-weight: bold;">MEMBER</h6>
			<h2 style="font-weight: bold;">E R JANARDHAN</h2>
			<div class="qr-code">
				<img src="https://ucarecdn.com/f05fc56e-e0e8-45d2-bea8-3ce1b2447867/" style="height:100%;width:80%">
			</div>
			<h3 style="font-weight:bold;margin-top: 10px">
            ART FORM : SAXOPHONE
            </h3>
            <hr>
            <div class="address">
                <p><strong></strong>No-4 Anbunagar Main Road,
                    Alwarthiru Nagar, <p>
                <p>
                    Chennai, Tamilnadu - India. <strong>600087</strong></p>
                <p>Ph: +91 9840111333 | E-mail: thyagayyatv@gmail.com</p>

            </div>
		

		</div>
	</div>