<div class="hs-item image bg print">

    <div class="container ">
        <div class="modal fade" id="code" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">

                            <label for="" style="font-size: medium;" style="color: black;">* Enter Code
                            </label>&nbsp;&nbsp;&nbsp; <small class="text-danger"
                                *ngIf="paymentCode.invalid && (paymentCode.touched || submitted)">Please
                                Enter The Code</small>
                            <input type="text" class="form-control" name="paymentCode" #paymentCode="ngModel"
                                [(ngModel)]="paymentCodes" required>


                        </div>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            (click)="submitCode()">SUBMIT</button>
                    </div>
                    <!-- <div class="modal-footer">
                        
                    </div> -->
                </div>
            </div>
        </div>
        <form [formGroup]="paymentCodeForm" *ngIf="paymentsMode"><br>
            {{paymentsMode}}
            <h1 style="text-align: center;color: white;">Payment Details Form</h1>
            <div class="form-group">
                <label style="font-size: medium;">Transaction Id</label> <span
                    *ngIf="submitted && f.transactionId.errors">
                    <span *ngIf="f.transactionId.errors.required" style="color:red">Transaction Id is required</span>
                </span>
                <input type="email" class="form-control" id="name" formControlName="transactionId">

            </div>
            <div class="form-group">
                <label style="font-size: medium;">* Payment Mode</label> <span
                    *ngIf="submitted && f.paymentMode.errors">
                    <span *ngIf="f.paymentMode.errors.required" style="color:red">payment Mode is required</span>
                </span>
                <input type="text" class="form-control" id="name" formControlName="paymentMode">

            </div>
            <div class="form-group">
                <label style="font-size: medium;">* Payment Date</label> <span
                    *ngIf="submitted && f.paymentDate.errors">
                    <span *ngIf="f.paymentDate.errors.required" style="color:red">payment Date is required</span>
                </span>
                <input type="date" class="form-control" id="name" formControlName="paymentDate">

            </div>
            <div class="form-group">
                <label style="font-size: medium;">* Payment Code</label><span *ngIf="submitted && f.paymentCode.errors">
                    <span *ngIf="f.paymentCode.errors.required" style="color:red">Payment Code is required</span>
                </span>
                <input type="text" class="form-control" id="name" formControlName="paymentCode">

            </div>
            <div class="form-group">
                <label style="font-size: medium;">* Name</label> <span *ngIf="submitted && f.name.errors">
                    <span *ngIf="f.name.errors.required" style="color:red">Name is required</span>
                </span>
                <input type="text" class="form-control" id="name" formControlName="name">

            </div>
            <div class="form-group">
                <label style="font-size: medium;">* Phone Number</label> <span
                    *ngIf="submitted && f.phoneNumber.errors">
                    <span *ngIf="f.phoneNumber.errors.required" style="color:red">Phone Number is required</span>
                </span>
                <input type="text" class="form-control" id="name" formControlName="phoneNumber">

            </div>
            <div class="form-group">
                <label style="font-size: medium;">* Occupied</label><span *ngIf="submitted && f.occupied.errors">
                    <span *ngIf="f.occupied.errors.required" style="color:red">Occupied is required</span>
                </span>
                <input type="text" class="form-control" id="name" formControlName="occupied">

            </div>

            <div class="form-group">
                <label style="font-size: medium;">* Amount</label> <span *ngIf="submitted && f.amount.errors">
                    <span *ngIf="f.amount.errors.required" style="color:red">Amount is required</span>
                </span>
                <input type="text" class="form-control" id="name" formControlName="amount">

            </div>
            <div class="wrapper">
                <button type="submit" class="btn btn-success" (click)="submitForm()">Submit</button><br><br>
            </div>
        </form>
    </div>
</div>