<div class=" image">
    <script type='text/javascript'
            src='https://platform-api.sharethis.com/js/sharethis.js#property=undefined&product=undefined'
            async='async'></script>
    <div class="container">
        <div class="row helplines" style="padding-top:20px">
            <div class="col-md-6 col-xs-12 bold">
                HelpLine (Telugu) : +91 9515417732
            </div>
            <div class="col-md-6 col-xs-12 bold">
                HelpLine (Other Languages) : +91 9840111333
            </div>
        </div>
        <div class="row helplines" style="display: none;">
            <div class="col-md-6 col-xs-12">
                <label style="font-size: smaller;"> <a
              href="https://www.youtube.com/watch?v=qj1plV1fRF8" target="blank"
              style="color: red;">Click here</a> to know how to register</label>
            </div>
            <div class="col-md-6 col-xs-12">
                <label style="font-size: smaller;"> <a
              href="https://www.youtube.com/watch?v=_pcqR9A3Ut0" target="blank"
              style="color: red;">Click here</a> to know how to send video & payment
            receipt</label>
            </div>
        </div>
    
        <div class="row helplines" style="padding-top: 10px">
            <div class="col-md-6 col-xs-12">
                <label style="font-size: medium;"> <a href="/guidelines" target="blank"
              style="color: red;">Click here</a> for
                    Guidelines</label> <span class="label label-default blinking">New</span>
            </div>
            <div class="col-md-6 col-xs-12">
                <label class="social-links" style="font-size: medium;"> <a href="http://t.me/s/icmdachennai"
                       target="blank"
                       style="color: red;margin:0">Click
                        here</a> to Join Telegram channel for latest information
                        <a class="telegram" href="http://t.me/s/icmdachennai"
                               target="blank"><i class="fa fa-telegram"></i>
                            </a>
                </label>
            </div>
            <div class="col-md-6 col-xs-12">
                <label class="social-links" style="font-size: medium;"> <a href="https://chat.whatsapp.com/DUZpnPMsDXxKyiQ9GujfYn"
                       target="blank"
                       style="color: red;margin:0">Click
                        here</a> to Join Whatsapp Group for latest information
                       
                            <a  class="whatsapp" href="https://chat.whatsapp.com/DUZpnPMsDXxKyiQ9GujfYn"
                               target="blank">
                               <i class="fa fa-whatsapp"></i>
                            </a>
                </label>
            </div>

            <div class="col-md-6 col-xs-12">
                <label class="social-links" style="font-size: medium;"> <a href="https://chat.whatsapp.com/DUZpnPMsDXxKyiQ9GujfYn"
                       target="blank"
                       style="color: red;margin:0">Click
                        here</a> to Chat with us 
                            <a  class="whatsapp" href="https://api.whatsapp.com/send?phone=919515417732&text=Hi ICMDA👋"
                               target="blank">
                               <i class="fa fa-whatsapp"></i>
                            </a>
                </label>
            </div>
        </div>
     
            <div style="text-align: center;color: black;">
                <h1 style="color: #3f9dff;">Online Competition for Classical Music & Dance - Season 2 </h1><br>
                <img src="../../assets/images/season-2/poster.png" alt="">
                <br>
                <img style="padding-top:20px" src="../../assets/images/season-2/fee.jpg" alt="">

                <div >
                    <h3>25% Discount for all competitions & events for Members <br>  <a href="/register"
                        target="blank">
                         Click here
                     </a>to become a Member</h3>
                     <span style="color: red;">Note: Becoming a member is not mandatory to participate in season 2 competition.</span>
                </div>
                <br>
                <h4>Watch to know all details about competition</h4>
                <iframe class="lazy-loaded" title="Monthly Contests"  data-lazy-type="iframe" 
                data-src="https://www.youtube.com/embed/-UtoSXaqz70?feature=oembed" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                 allowfullscreen="" src="https://www.youtube.com/embed/-UtoSXaqz70?feature=oembed"></iframe>



                <div class="row">

                  
                    <div class="col-md-offset-3 col-md-6">
                        <a  href="https://pages.razorpay.com/icmda-competition-season-2" 
                                class="btn
                            btn-primary">Register Now</a>&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="btn btn-primary">Refer & Earn
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox_7ndo"></div>
                        </div>&nbsp;
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <a  href="https://docs.google.com/forms/d/e/1FAIpQLSe-VC-ONyZK5DeLW0d6VGIK7Li9a1gfCj7bellQar86L-h5Nw/viewform" 
                                class="btn
                            btn-primary">Submit Video</a>&nbsp;
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-offset-3 col-md-6">
                        <button type="button"
                                class="btn btn-primary">Check
                            Results (Release on 14-01-2022)</button>&nbsp;
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-offset-3 col-md-6">
                        <a  href="/online-competition-season1" 
                                class="">Checkout Online Competition Season 1 Results & Their Performances</a>&nbsp;
                                <span class="label label-default blinking">New</span>
                    </div>
                </div>
            </div>
            <br>
    </div>
</div>
<ng-template #mymodal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Enter your ID & Email</h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="close()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <h5 style="font-size: medium;">Registration ID
                <span style="color: red;">*</span>
                <span *ngIf="submitted && id == undefined"
                      style="color:red">Required</span>
            </h5>
            <input type="text"
                   [(ngModel)]="id"
                   class="form-control"
                   id="regId" />
        </div>
        <div class="form-group">
            <h5 style="font-size: medium;">Email ID
                <span style="color: red;">*</span>
                <span *ngIf="submitted && email == undefined"
                      style="color:red">Required</span>
            </h5>
            <input type="text"
                   [(ngModel)]="email"
                   class="form-control"
                   id="email" />
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <button type="button"
                    style="width:auto"
                    class="btn btn-default"
                    (click)="close()">Close</button>
            <button type="button"
                    style="width:auto"
                    class="btn btn-default"
                    (click)="submit()">Submit</button>
        </div>
    </div>
</ng-template>