<h1 class="text-center"
    style="margin-top:3%; color: black;">ICMDA Fine Arts Academy</h1>
<h3 class="text-center"
    style="margin-top:3%; color: black;">You can contact us on this details</h3>

<h4>TamilNadu</h4>
<p class="text-center"
   style="margin-top:3%; font-size: 20px; color: black;">
   Address : No 4 Anbunagar main road,Alwarthirunagar,Chennai.<br>
  PIN: 600087, India
</p>

<h4>Andhra Pradesh</h4>
<p class="text-center"
   style="margin-top:3%; font-size: 20px; color: black;">
   Address : 6 - 234 , Sai Nagar , venkatapuram Panchayat, Near Sai Baba temple & Chataparru Bridge,
    Eluru, West Godavari district. Pin
   code 534001
  <br> Phone : 044 24864412 9840111333 / 9884112999
  <br> Email: icmdachennai@gmail.com
  <br> Website: icmda.in
</p>