@media screen and (max-width: 800px) {
    .contact-us
{
    padding:0% 5% !important;
}
}
.contact-us-bg-color {
    background-image: linear-gradient(120deg, #a0bbe0 0%, #89f7fe 100%);
    padding-left: 10px;
    width:100vw;

}
.contact-section {
    padding-left: 0px;
}

.icmda-heading {
    color:rgb(70, 80, 19);
    color:rgb(79, 94, 4);
    font-family: Roboto;
    font-weight: bold;
}

.address-section {

    color:rgb(5, 80, 5);
}

ul {
    list-style-type: none;
    font-family: Roboto;
    padding-left: 10px;
    
}

.contact-heading {
    color:rgb(4, 136, 4);
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;

}

.list {
    padding-left: 20px;
    padding-top: 10px;
}

.andhra-section {
    margin-left: 20px;
}