

    <div id="preloder" style="display: none;">
    <div class="loader" style="display: none;"></div>
    </div>

    
    <section class="hero-section">
    <div class="hero-slider owl-carousel owl-loaded">
    
    
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-4239px, 0px, 0px); transition: all 0s ease 0s; width: 8479px;"><div class="owl-item cloned" style="width: 1413.08px;"><div class="hs-item">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="hs-text">
    <h2><span>Music</span> for everyone.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
    <a href="#" class="site-btn">Download Now</a>
    <a href="#" class="site-btn sb-c2">Start free trial</a>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hr-img">
    <img src="img/hero-bg.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div></div><div class="owl-item cloned" style="width: 1413.08px;"><div class="hs-item">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="hs-text">
    <h2><span>Listen </span> to new music.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
    <a href="#" class="site-btn">Download Now</a>
    <a href="#" class="site-btn sb-c2">Start free trial</a>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hr-img">
    <img src="img/hero-bg.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div></div><div class="owl-item" style="width: 1413.08px;"><div class="hs-item">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="hs-text">
    <h2><span>Music</span> for everyone.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
    <a href="#" class="site-btn">Download Now</a>
    <a href="#" class="site-btn sb-c2">Start free trial</a>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hr-img">
    <img src="https://colorlib.com/preview/theme/solmusic/img/hero-bg.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div></div><div class="owl-item animated owl-animated-in fadeIn active" style="width: 1413.08px;"><div class="hs-item">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="hs-text">
    <h2><span>Listen </span> to new music.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
    <a href="#" class="site-btn">Download Now</a>
    <a href="#" class="site-btn sb-c2">Start free trial</a>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hr-img">
    <img src="https://colorlib.com/preview/theme/solmusic/img/hero-bg.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div></div><div class="owl-item cloned" style="width: 1413.08px;"><div class="hs-item">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="hs-text">
    <h2><span>Music</span> for everyone.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
    <a href="#" class="site-btn">Download Now</a>
    <a href="#" class="site-btn sb-c2">Start free trial</a>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hr-img">
    <img src="img/hero-bg.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div></div><div class="owl-item cloned" style="width: 1413.08px;"><div class="hs-item">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="hs-text">
    <h2><span>Listen </span> to new music.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
    <a href="#" class="site-btn">Download Now</a>
    <a href="#" class="site-btn sb-c2">Start free trial</a>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="hr-img">
    <img src="img/hero-bg.png" alt="">
    </div>
    </div>
    </div>
    </div>
    </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
    </section>
    
    
    <section class="intro-section spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="section-title">
    <h2>Unlimited Access to 100K tracks</h2>
    </div>
    </div>
    <div class="col-lg-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
    <a href="#" class="site-btn">Try it now</a>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg" style="background-image: url(&quot;img/how-to-bg.jpg&quot;);">
    <div class="container text-white">
    <div class="section-title">
    <h2>How it works</h2>
    </div>
    <div class="row">
    <div class="col-md-4">
    <div class="how-item">
    <div class="hi-icon">
    <img src="img/icons/brain.png" alt="">
    </div>
    <h4>Create an account</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipi-scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. </p>
    </div>
    </div>
    <div class="col-md-4">
    <div class="how-item">
    <div class="hi-icon">
    <img src="img/icons/pointer.png" alt="">
    </div>
    <h4>Choose a plan</h4>
    <p>Donec in sodales dui, a blandit nunc. Pellen-tesque id eros venenatis, sollicitudin neque sodales, vehicula nibh. Nam massa odio, portti-tor vitae efficitur non. </p>
    </div>
    </div>
    <div class="col-md-4">
    <div class="how-item">
    <div class="hi-icon">
    <img src="img/icons/smartphone.png" alt="">
    </div>
    <h4>Download Music</h4>
    <p>Ablandit nunc. Pellentesque id eros venenatis, sollicitudin neque sodales, vehicula nibh. Nam massa odio, porttitor vitae efficitur non, ultric-ies volutpat tellus. </p>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="concept-section spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="section-title">
    <h2>Our Concept &amp; artists</h2>
    </div>
    </div>
    <div class="col-lg-6">
    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-3 col-sm-6">
    <div class="concept-item">
    <img src="https://colorlib.com/preview/theme/solmusic/img/concept/1.jpg" alt="">
    <h5>Soul Music</h5>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="concept-item">
    <img src="https://colorlib.com/preview/theme/solmusic/img/concept/2.jpg" alt="">
    <h5>Live Concerts</h5>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="concept-item">
    <img src="https://colorlib.com/preview/theme/solmusic/img/concept/3.jpg" alt="">
    <h5>Dj Sets</h5>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6">
    <div class="concept-item">
    <img src="https://colorlib.com/preview/theme/solmusic/img/concept/4.jpg" alt="">
    <h5>Live Streems</h5>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    
    
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery.slicknav.min.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="js/mixitup.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-23581568-13');
    </script>
    
    