form {
  padding-left: 106px;
  padding-right: 106px;
  background-color: black;
  opacity: 0.8;
  margin-top: 70px;
}
label {
  color: white;
}
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
/* input[type="url"]:not(.browser-default), */
textarea.materialize-textarea {
  font-size: 1.5rem;
  padding-left: 10px;
}
input {
  background: white !important;
  color: black !important;
}

.hs-item {
  /* width: auto; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://icmda.co.in/assets/images/guidelines/kuchipudi-blank.jpg);
}
@media screen and (max-width: 600px) {
  .container .hs-item {
    width: 100%;
    margin-top: 0;
  }
  form {
    padding-left: 4%;
    padding-right: 7%;
    background-color: black;
    opacity: 0.8;
    margin-top: 35%;
    margin-bottom: 13%;
  }
  .hs-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://icmda.co.in/assets/images/guidelines/kuchipudi-blank.jpg);
  }
}
