<div class="hs-item image bg print">

  <div class="container ">
   
    <form [formGroup]="registrationForm"><br>
      <marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" direction="left" scrollamount="7"
      style="color:red;font-size: large;font-weight: bold;">
      Last date to register is 25th March.
    </marquee>
      <div class="row">
        <div style="width: max-content;" class="col-md-6 col-xs-12">
          <h4 style="color: green;font-weight: bold;">
            <a href="https://icmda.tawk.help/category/kuchupudi-festival" style="color: red;">
              Click here</a>
            to know about Festival(on 4th April)
          </h4>
        </div>
        <div style="width: max-content;" class="col-md-6 col-xs-12">
          <h4 style="color: green;font-weight: bold">
            <a href="https://icmda.tawk.help/article/guidelines-for-kuchipudi-festival" style="color: red;">
              Click here</a>
            to check guidelines
          </h4>
        </div>
      </div>
      <h1 style="text-align: center;color: white;">Kuchipudi Festival Slot Booking</h1>
      <div class="form-group">
        <label style="font-size: medium;">*Name</label>&nbsp;&nbsp;&nbsp; <span *ngIf="submitted && f.name.errors">
          <span *ngIf="f.name.errors.required" style="color:red">First Name is required</span>
        </span>
        <input type="text" class="form-control" id="name" formControlName="name">

      </div>
      <div class="form-group">
        <label style="font-size: medium;">*Email</label>&nbsp;&nbsp;&nbsp; <span *ngIf="submitted && f.email.errors">
          <span *ngIf="f.email.errors.required" style="color:red">Email is required</span>
        </span>
        <input type="email" class="form-control" id="name" formControlName="email">

      </div>
      <div class="form-group">
        <label style="font-size: medium;">*Phone Number</label>&nbsp;&nbsp;&nbsp; <span
          *ngIf="submitted && f.phoneNumber.errors">
          <span *ngIf="f.phoneNumber.errors.required" style="color:red">Phone Number is required</span>
        </span>
        <input type="text" class="form-control" id="name" formControlName="phoneNumber">

      </div>
      <div class="form-group">
        <label style="font-size: medium;">*Country</label>&nbsp;&nbsp;&nbsp; <span
          *ngIf="submitted && f.country.errors">
          <span *ngIf="f.country.errors.required" style="color:red">Country is required</span>
        </span>
        <input type="text" class="form-control" id="name" formControlName="country">

      </div>
      <div class="form-group">
        <label style="font-size: medium;">*Slot Type</label>&nbsp;&nbsp;&nbsp; <span
          *ngIf="submitted && f.slotType.errors">
          <span *ngIf="f.slotType.errors.required" style="color:red">slotType is required</span>
        </span>
        <select class="form-control" (change)="slotType($event)" formControlName="slotType">
          <option value="">Select Slot Type</option>
          <option *ngFor="let type of slotTypes">{{type.slot_type}}</option>
        </select>

      </div>
      <div class="form-group">
        <label style="font-size: medium;">*Slot Time</label>&nbsp;&nbsp;&nbsp; <span
          *ngIf="submitted && f.slotTime.errors">
          <span *ngIf="f.slotTime.errors.required" style="color:red">SlotTime is required</span>
        </span>
        <select class="form-control" formControlName="slotTime" (change)="slotID($event)" required>
          <option value="">Select Slot Time</option>
          <option *ngFor=" let time of slotTimesValue" [value]="time.id">{{time.slot_time}}</option>

        </select>
        <!-- <span *ngIf="submitted && f.slotTime.errors">
          <span *ngIf="f.slotTime.errors.required" style="color:red">slotTime is required</span>
        </span> -->
      </div>
      <div class=" col-md-12 well" style="background: #343a4e;">
        <div style="font-size: medium;"><span style="color: #00ff0f;text-decoration: underline;">Steps to get Payment
            Code:</span>

        </div><br>
        <div class="row" style="color: white;">
          Step 1) Make payment (Excluding transaction fee)
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label style="font-size: medium;">Amount</label>
              <div style="background-color: white;font-size: 28px;font-weight: bold;padding-left: 10px;">
                ₹ {{amount}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label style="font-size: medium;">PhonePe / GPay (India)</label>
              <div style="background-color: white;font-size: 16px;padding-left:10px;font-weight: bold;">
                9884220404
                <img src="../../assets/images/phonepe.png" width="37px" style="margin-left: 22px;">
                <img src="../../assets/images/gpay2.jpg" width="60px" style="margin-left: 22px;">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label style="font-size: medium;">NetBanking</label>
              <div
                style="background-color: white;font-size: 1em;padding-left:10px;font-weight: bold;padding: 8px;display:grid">
                <span>Account No : 40465698803 </span>
                <span>Name : INTERNATIONAL CARNATIC MUSICIANS & DANCERS ASSOCIATION </span>
                <span>IFSC : SBIN0016987 </span>
                <span>BANK NAME : State Bank Of India</span>

              </div>
            </div>
          </div>
        </div>
        <div class="row" style="color: white;">
          Step 2) Send the screenshot to <span style="color: #00ff0f;padding:0% 1%"> +91 95154 17732 </span> whatsapp
          number.
        </div>

        <div class="row" style="color: white;">
          Step 3) You will get a payment code from ICMDA.
        </div>
      </div>

      <div class="form-group">
        <label style="font-size: medium;">*Enter Payment Code</label>&nbsp;&nbsp;&nbsp; <span
          *ngIf="submitted && f.code.errors">
          <span *ngIf="f.code.errors.required" style="color:red">Code is required</span>
        </span>
        <input type="text" class="form-control" id="name" formControlName="code">

      </div>


      <div class="wrapper">
        <button type="submit" class="btn btn-success" (click)="submitForm()">Submit</button><br><br>
      </div>
    </form>

  </div>
</div>