<div class="hs-item image bg print">

    <div class="container ">

        <form [formGroup]="participantDetailsForm"><br>
            <h1 style="text-align: center;color: white;">Participant Details Form</h1>
            <div class="form-group">
                <label style="font-size: medium;">Registration Id</label>
                <input type="email" class="form-control" id="name" formControlName="regId">
                <span *ngIf="submitted && f.regId.errors">
                    <span *ngIf="f.regId.errors.required" style="color:red">Registration Id is required</span>
                </span>
            </div>
            <div class="form-group">
                <label style="font-size: medium;">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <span *ngIf="submitted && f.name.errors">
                    <span *ngIf="f.name.errors.required" style="color:red">Name is required</span>
                </span>
            </div>
            <div class="form-group">
                <label style="font-size: medium;">ArtForm</label>
                <input type="email" class="form-control" id="name" formControlName="artForm">
                <span *ngIf="submitted && f.artForm.errors">
                    <span *ngIf="f.artForm.errors.required" style="color:red">ArtForm is required</span>
                </span>
            </div>
            <div class="form-group">
                <label style="font-size: medium;">Category</label>
                <input type="text" class="form-control" id="name" formControlName="category">
                <span *ngIf="submitted && f.category.errors">
                    <span *ngIf="f.category.errors.required" style="color:red">Category is required</span>
                </span>
            </div>
            <div class="form-group">
                <label style="font-size: medium;">Level</label>
                <input type="text" class="form-control" id="name" formControlName="level">
                <span *ngIf="submitted && f.level.errors">
                    <span *ngIf="f.level.errors.required" style="color:red">Level is required</span>
                </span>
            </div>
            <div class="form-group">
                <label style="font-size: medium;">Prize</label>
                <input type="text" class="form-control" id="name" formControlName="prize">
                <span *ngIf="submitted && f.prize.errors">
                    <span *ngIf="f.prize.errors.required" style="color:red">Prize is required</span>
                </span>
            </div>
            <div class="wrapper">
                <button type="submit" class="btn btn-success" (click)="submitForm()">Submit</button><br><br>
            </div>
        </form>
    </div>
</div>