<div class=" image">
  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=undefined&product=undefined'
    async='async'></script>
  <div class="container">
    <div class="row helplines" style="padding-top:20px">
      <div class="col-md-6 col-xs-12 bold">
        HelpLine (Telugu) : <a href="tel:+919515417732">+91 9515417732</a>
      </div>
      <div class="col-md-6 col-xs-12 bold">
        HelpLine (Other Languages) : <a href="tel:+919840111333">+91 9840111333</a>
      </div>
      <div class="col-md-6 col-xs-12 bold">
        HelpLine (Whatsapp) :
        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=919515417732&text=Hi ICMDA👋" target="blank">Click
          here to talk with us
          <i class="fa fa-whatsapp"></i>
        </a>
      </div>
    </div>
    <div class="row helplines" style="display: none;">
      <div class="col-md-6 col-xs-12">
        <label style="font-size: smaller;"> <a href="https://www.youtube.com/watch?v=qj1plV1fRF8" target="blank"
            style="color: red;">Click here</a> to know how to register</label>
      </div>
      <div class="col-md-6 col-xs-12">
        <label style="font-size: smaller;"> <a href="https://www.youtube.com/watch?v=_pcqR9A3Ut0" target="blank"
            style="color: red;">Click here</a> to know how to send video & payment
          receipt</label>
      </div>
    </div>

    <div class="row helplines" style="padding-top: 10px">
      <div class="col-md-6 col-xs-12">
        <label style="font-size: medium;"> <a href="/guidelines-monthly-competitions" target="blank" style="color: red;">Click here</a> to
          check
          Guidelines for Age Limit, Time Limit, Performing Items, Prizes etc <span
            class="label label-default blinking">New</span> </label>
      </div>
      <div class="col-md-6 col-xs-12">
        <label class="social-links" style="font-size: medium;"> <a href="https://t.me/s/icmdachennai" target="blank"
            style="color: red;margin:0">Click
            here</a> to Join Telegram channel for latest information
          <a class="telegram" href="https://t.me/s/icmdachennai" target="blank"><i class="fa fa-telegram"></i>
          </a>
        </label>
      </div>
      <div class="col-md-6 col-xs-12">
        <label class="social-links" style="font-size: medium;"> <a href="/joinWhatsApp" target="blank"
            style="color: red;margin:0">Click
            here</a> to Join Whatsapp Group for latest updates
          <span class="label label-default blinking">New</span>
          <a class="whatsapp" href="/joinWhatsApp" target="blank">
            <i class="fa fa-whatsapp"></i>
          </a>


        </label>
      </div>

      <div class="col-md-6 col-xs-12">
        <label class="social-links" style="font-size: medium;">
          <a href="https://api.whatsapp.com/send?phone=919515417732&text=Hi ICMDA👋" target="blank"
            style="color: red;margin:0">Click
            here</a> to Chat with us
          <a class="whatsapp" href="https://api.whatsapp.com/send?phone=919515417732&text=Hi ICMDA👋" target="blank">
            <i class="fa fa-whatsapp"></i>
          </a>
        </label>
      </div>

    </div>

    <div class="change-language col-md-offset-2">
      <button class="btn btn-primary btn-sm" style="margin-left:1%" onclick="setCookie('googtrans', '/hi/en', 30)">
        <span class="notranslate">ENGLISH</span>
      </button>

      <button class="btn btn-success btn-sm" onclick="setCookie('googtrans', '/hi/te', 30)">
        <span class="notranslate">తెలుగు</span>
      </button>

      <button class="btn btn-warning btn-sm" onclick="setCookie('googtrans', '/hi/ta', 30)">
        <span class="notranslate">தமிழ்</span>
      </button>

      <button class="btn btn-info btn-sm" onclick="setCookie('googtrans', '/hi/kn', 30)">
        <span class="notranslate">ಕನ್ನಡ</span>
      </button>

      <button class="btn btn-danger btn-sm" onclick="setCookie('googtrans', '/hi/ml', 30)">
        <span class="notranslate">മലയാളം</span>
      </button>

      <button class="btn btn-info btn-sm" onclick="setCookie('googtrans', '/en/hi', 30)">
        <span class="notranslate">हिंदी</span>
      </button>
    </div>
    <br>
    <br>
    <h5 class="col-12" style="color: #7c2d47;text-align: center;margin-right:10%;font-weight:bold;font-size:40px;">SRI NARAYANA THEERTHAR COMPETITION </h5>
    <h3 class="col-12"  style="color: #3f9dff;text-align: center;margin-right:10%;font-weight:bold;font-size:27px;">Online Monthly
      Competition for Classical Music & Dance </h3>

  </div>
  <br>


  <!-- <div class="row">

        <div class="col-md-offset-3 col-md-6">
           <a href="/results">
            <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-hand-up"></span>Click here to Check results<span class="label label-default blinking">New</span></button>&nbsp;
           </a>
        </div>
    </div>
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <a href="https://pages.razorpay.com/season2-certificates">
         <button type="button" class="btn btn-success"> 
             <span class="glyphicon glyphicon-hand-up"></span>
             Click here to get certificate & medal
         </button>
        </a>
    </div>
    </div> -->


  <div class="poster" style="text-align: center;color: black;">


    <img src="https://v5.airtableusercontent.com/v1/5/5/1656547200000/iSPSX5OC9hxTeiXjBnE6nA/RRzGLJKC1W9VqQA408nQIC6oqwCHzRsQFIW05tsbVOxmOaql3yf9BkSe_o8-XXXsUt101X1UqAF-ZdiPFjSkUg/F0plaU2MxPJWyDiWaJKY5z2wWH2ZTElBgp1mkGSjRuw" 
    alt=""
      >
    <br>


    <h4 style="color: #1c9641;font-weight: bold;">Get valued certificate now. All participants & winners will get
      certificates which is government approved ICMDA
      and ISO (International Organization for Standardization) Stamped. Certificate distribution charges will be applicable.
    </h4>


    <div
      style="background-size: cover;margin-top:50px; background-image: url(../../assets/images/season-2/fee_bg.jpg);padding: 10px">
      <h1 style="color:white;font-size: 4vw;font-weight: bold;">REGISTRATION FEES</h1>
      <div style="padding: 5px;">
        <table class="competition-fee" style=" font-size: 2vw; font-weight: bold; width:100%;  ">
          <tr style="color: rgb(181, 231, 210);">
            <th>CATEGORY</th>
            <th>FEES</th>
            <th>TIME(APPROXIMATE)</th>
          </tr>
          <tr style="color: rgb(218, 171, 17);">
            <td>
              JUNIOR (7 - 12 YEARS)
            </td>
            <td> 500</td>
            <td> 10 MIN</td>

          </tr>
          <tr style="color: rgb(214, 192, 224);">
            <td>
              SENIOR (13 - 18 YEARS)

            </td>
            <td> 600</td>
            <td> 15 MIN</td>
          </tr>

          <tr style="color: rgb(235, 238, 38);">
            <td>
              PROFESSIONAL (WITH MANODHARMAM) (19 - 25 YEARS)

            </td>
            <td> 700</td>
            <td> 20 MIN</td>
          </tr>
        </table>
        <br>
      </div>

    </div>
    <br>
    <div class="row">
      <div class=" col-12 " style="margin-top:20px">
        <a href="https://rzp.io/l/monthly-competitions" class="btn
                btn-primary " style="text-align:center;">Register Now</a>&nbsp;
      </div>
    </div>

    <h3 style="color: #2471a7;vertical-align: inherit;font-weight: bold;" class="col-12 ">
      Please send your video here before 28 th JANUARY 2023
    </h3>
    <br>
    <div class="row">
      <div class="col-12 " style="text-align:center">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScnrL3fiNreI7z7Dz-wzoiKUzMA2vqL32mgmkDwAjCzTQiVwA/viewform"
          class="btn btn-primary">Submit Video</a>&nbsp;
      </div>
    </div>

    <div class="row">

      <a href="/notify-me" class="col-12">
        <div><span style="color: red; ">
            Click here
          </span>I will Register Later, Please Remind Me. <span class="label label-default blinking">New</span>
        </div>
      </a>
    </div>

    <h3 style="color: #a72475;vertical-align: inherit;font-weight: bold;text-align:center; font-size:18px; margin:0 5%"
      class="col-md-offset-2">
      You can refer your friends or family so that you can get 5 to 10% to each registration. Send this page now with
      below links.
    </h3>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="btn btn-primary">Share this Page
          <div class="addthis_inline_share_toolbox_7ndo"></div>
        </div>&nbsp;
      </div>
    </div>
