<div class="container" style="margin-bottom:100px"> 
<h1 class="text-center text-danger">Help Desk</h1>
<div class="dropdown">
    <div class="form-group">
      <select class="form-control" [(ngModel)]="selectedCategory" style="font-size:16px">
        <option value="">Choose below option to get help</option>
        <option *ngFor="let category of validCategories;" value={{category}}>{{category}}</option>
      </select>
    </div>
  </div>

<div class="accordion-wrapper" style="margin-bottom: 12px;" *ngFor="let fData of dataFaq">
  <div class="accordion" *ngIf="selectedCategory && selectedCategory==fData.fields.category">
    <input type="radio" name="radio-a" id="check3">
    <label class="accordion-label question" for="check3" style="color: white;">{{fData.fields.question}}</label>
    <div class="accordion-content" style="display: contents;">
      <p style="padding: 15px;font-weight: bold;">{{fData.fields.answer}} </p>
      <div style="padding: 10px;">
        <label style="font-size:15px;padding:0 15px">click on this Link</label>
        <a href={{fData.fields.Link}} target="_blank">{{fData.fields.link}}</a>
      </div>
    </div>
  </div>
</div>
</div>
