<div style="margin-bottom: 3%;" class="container">
  <h3 class="text-center" style="margin-top:3%;  color: black; width: 107%;">The name of the Society  :  INTERNATIONAL  CARNATIC MUSICIANS  & DANCERS ASSOCIATION  ( I C M D A )
    <br>
  </h3>
  <img src="../../assets/images/icmda_mark.jpg" width="10%" style="display:block;
    margin:auto;margin-top: 3%;">
    <h3>GOVT Registered :  jan - 16 -  2016<br>
        Under Thyagayya charitable trust<br>
        WITH: U/S 80G <br>
        ADDRESS :  4 ABUNAGAR MAIN ROAD 
        ALWARTHIRUNAGAR  , CHENNAI, INDIA 600087
        </h3>
</div>