<div class=" image">
  <script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=undefined&product=undefined'
    async='async'></script>
  <div class="container">
    <div class="row helplines" style="padding-top:20px">
      <div class="col-md-6 col-xs-12 bold">
        HelpLine (Telugu) : <a href="tel:+919515417732">+91 9515417732</a>
      </div>
      <div class="col-md-6 col-xs-12 bold">
        HelpLine (Other Languages) : <a href="tel:+919840111333">+91 9840111333</a>
      </div>
      <div class="col-md-6 col-xs-12 bold">
        HelpLine (Whatsapp) :
        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=919515417732&text=Hi ICMDA👋" target="blank">Click
          here to talk with us
          <i class="fa fa-whatsapp"></i>
        </a>
      </div>
    
    <!-- <div class="row helplines" style="display: none;">
      <div class="col-md-6 col-xs-12">
        <label style="font-size: smaller;"> <a href="https://www.youtube.com/watch?v=qj1plV1fRF8" target="blank"
            style="color: red;">Click here</a> to know how to register</label>
      </div>
      <div class="col-md-6 col-xs-12">
        <label style="font-size: smaller;"> <a href="https://www.youtube.com/watch?v=_pcqR9A3Ut0" target="blank"
            style="color: red;">Click here</a> to know how to send video & payment
          receipt</label>
      </div>
  </div> -->
  </div>

    <div class="row helplines" style="padding-top: 10px">
      <div class="col-md-6 col-xs-12">
        <label class="social-links" style="font-size: medium;"> <a href="/joinWhatsApp" target="blank"
            style="color: red;margin:0">Click
            here</a> to Join Whatsapp Group for latest updates
          <span class="label label-default blinking">New</span>
          <a class="whatsapp" href="/joinWhatsApp" target="blank">
            <i class="fa fa-whatsapp"></i>
          </a>
        </label>
      </div>

      <div class="col-md-6 col-xs-12">
        <label class="social-links" style="font-size: medium;">
          <a href="https://api.whatsapp.com/send?phone=919515417732&text=Hi ICMDA👋" target="blank"
            style="color: red;margin:0">Click
            here</a> to Chat with us
          <a class="whatsapp" href="https://api.whatsapp.com/send?phone=919515417732&text=Hi ICMDA👋" target="blank">
            <i class="fa fa-whatsapp"></i>
          </a>
        </label>
      </div>

    </div>
    <div class="">
      <div class="change-language col-md-offset-2">
        <button class="btn btn-primary btn-sm" style="margin-left:1%" onclick="setCookie('googtrans', '/hi/en', 30)">
          <span class="notranslate">ENGLISH</span>
        </button>
  
        <button class="btn btn-success btn-sm" onclick="setCookie('googtrans', '/hi/te', 30)">
          <span class="notranslate">తెలుగు</span>
        </button>
  
        <button class="btn btn-warning btn-sm" onclick="setCookie('googtrans', '/hi/ta', 30)">
          <span class="notranslate">தமிழ்</span>
        </button>
  
        <button class="btn btn-info btn-sm" onclick="setCookie('googtrans', '/hi/kn', 30)">
          <span class="notranslate">ಕನ್ನಡ</span>
        </button>
  
        <button class="btn btn-danger btn-sm" onclick="setCookie('googtrans', '/hi/ml', 30)">
          <span class="notranslate">മലയാളം</span>
        </button>
  
        <button class="btn btn-info btn-sm" onclick="setCookie('googtrans', '/en/hi', 30)">
          <span class="notranslate">हिंदी</span>
        </button>
      </div>
    </div>

    <br>
    <br>
    <h5 class="col-12 title" >
      THE LARGEST MUSICIANS & DANCERS PRESENTS AIGIRI NANDINI </h5>
    <h3 class="col-12 title2">
    Officially Attempting 10 World records for Classical Music & Dance Online
    </h3>
  <br>


  <!-- <div class="row">

        <div class="col-md-offset-3 col-md-6">
           <a href="/results">
            <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-hand-up"></span>Click here to Check results<span class="label label-default blinking">New</span></button>&nbsp;
           </a>
        </div>
    </div>
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <a href="https://pages.razorpay.com/season2-certificates">
         <button type="button" class="btn btn-success"> 
             <span class="glyphicon glyphicon-hand-up"></span>
             Click here to get certificate & medal
         </button>
        </a>
    </div>
    </div> -->


  <div class="poster" style="text-align: center;color: black;">


    <img class="laptop" src="https://dl.airtable.com/.attachmentThumbnails/a29d5e6e59801834dc30876982dc6a3d/11456b3a" alt="">
    <img class="mobile" src="https://dl.airtable.com/.attachmentThumbnails/b5270e3e67773a643a097c4326def266/493dad4c" alt="">
   
    
    <iframe src="https://olafwempe.com/mp3/silence/silence.mp3" type="audio/mp3" allow="autoplay" id="audio"
      style="display:none"></iframe>

    
    <!-- <audio controls autoplay>
      <source src="../../assets/images/audio/aigiri_nandini.mp3" type="audio/mpeg">
    </audio> -->


    <br>

    <h4 style="color: #1c9641;font-weight: bold;">Get valued certificate now. All participants will get
      certificates which is government approved ICMDA
      and ISO (International Organization for Standardization) Stamped.<br>
    </h4>
    <br>
    <iframe *ngIf="!isMobile()" width="100%" height="700" src="https://www.youtube.com/embed/-LeVFjTmLiA?autoplay=1&mute=0" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe *ngIf="isMobile()" width="100%" height="700" src="https://www.youtube.com/embed/xRLhIWOpXQw?autoplay=1&mute=0" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <br>

    <h2 class="guidelines-title" style="font-weight:bold;color:rgb(4, 39, 4)">GUIDELINES FOR MAHISHASURA MARDINI AIGIRI NANDINI</h2>


    <div class="row center" style="display: block;">
      <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 30px; "> Who are involved in this world record attempt?
      </h3>
      <br>
      <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #0233bb; font-size: 1vw; ">
        <li>ICMDA is conducting the Aigiri Nandini 10 world records attempt with largest musicians and dancers </li>
        <li>In Association with Department of Language and Culture of Govt of India & Govt of Andhra Pradesh</li>
        <li>In Association with Sri Durga Malleswara Swamy Varla Devasthanam (Vijayawada Kanaga Durgamma Temple)</li>
        <li>Sponsors from all over the world. Anyone can come forward to become a sponsor for this great event</li>
      
      </ol>
    </div>

    <div class="row center" style="display: block;">
      <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 30px; "> How to Attempt the world record?
      </h3>
      <br>
      <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #0233bb; font-size: 1vw; ">
        <li>Register for the world record attempt</li>
        <li>We will send you the Notation, pitch, audio record, video choreography after you register</li>
        <li>Participant have to sing or play or dance for the  material given by ICMDA</li>
        <li>We will share the online link to participate for the official world record attempt</li>
        <li>Participant have to do the rehearsal before the official world record attempt and get idea on how to join the online event</li>
        <li>Every participant have to join the online event 30 minutes before the official attempt time. </li>
      
      </ol>
    </div>


    <div class="row center" style="display: block;">
      <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 30px; "> General Guidelines
      </h3>
      <br>
      <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #0233bb; font-size: 1vw; ">
        <li>Aigiri Nandini (Mahishasura Mardini Slokas)  should be in Shruthi and Thalam for Music and correct Choreograph, Abhinayas & Mudras for Dance artforms.</li>
        <li>Stick to the Stipulated time(IST Time Zone) We have Provided</li>
        <li>Announce only Your Name , Artform , City & Country before you start the Performance .</li>
        <li>Attire: Traditional Indian outfit (Music: Long skirt for Girls and sari for women & Kurtha or Dhothi for
          Boys/Men <br>
          Dance: Wear traditional dance dress.) </li>
      </ol>
    </div>

    <div class="row center" style="display: block;">
      <h3 class="m-title" style=" font-weight: bold; color: rgb(163, 10, 30);font-size: 30px "> Audio and Video
        Guidelines </h3>
      <br>
      <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #0233bb; font-size: 1vw; ">
        
        <li>Use Bluetooth Speaker with Mike.</li>
        <li>Your audio should be free from all background noise and clear for adjudicators and witness to hear</li>
        <li>Please do a test practice before the offical attempt.</li>
        <li>No karaoke music allowed for this video recording.</li>
        <li>Make sure that there will no shake in the video.</li>
        <li>Video background can be plain/simple and match against the color of your outfit.</li>
        <li>Avoid, white and black colors for video quality purposes.</li>
        <li>Angle to center of the performer and close enough to see the vocalist's hand thalam</li>
        <li>Video should be in landscape mode</li>
      </ol>
    </div>

    <div class="row">
      <h5 class="col-12"
        style="color: #0e9169;text-align: center;margin-right:10%;font-weight:bold;font-size:35px; font-family: sans-serif;">
        PARTICIPANTS BENEFITS </h5>
      <ol class="certificates">
        <li> Government of A.P Certificate</li>
        <li> Kanaka Durgamma Temple Certificate</li>
        <li> ICMDA Certificate</li>
        <li> World Record Holder Medal</li>
        <li> 10 World Record Certificates for 200 INR*</li>
      </ol>
    </div>
    <div>
      <table class="registration-fees" style=" font-size: 3vw; font-weight: bold; width:100%; ">
        <tr style="color:#6be619;">
          <td style="text-align:center; ">
            REGISTRATION FEES <span> - 600 INR</span>
          </td>
        </tr>
      </table>
    </div>
    <br>

    <p style="font-weight:bold; color:rgb(131, 14, 131);font-size:16px;"> From Age 5 Years & Above can Participate </p>

    <div class="row">
      <div class=" col-12 ">
        <a href="https://rzp.io/l/aigiri-nandini-world-records"  style="text-align:center;">
      <img  class="zoom-in-out-box" 
      src="https://pngroyale.com/wp-content/uploads/2022/03/Register-Now-Button-Transparent-Image.png"
       alt="Snow" style="width:200px;height:50px">
              </a>&nbsp;
      </div>
    </div>

    <br>

    <div class="row">

      <a href="/notify-me" class="col-12">
        <div><span style="color: red; ">
            Click here
          </span> to set reminder to register later. <span class="label label-default blinking">New</span>
        </div>
      </a>
    </div>


    <br>
    <div class="row">
      <div class="col-12">
        <div class="btn btn-primary">Share this Page
          <div class="addthis_inline_share_toolbox_7ndo"></div>
        </div>&nbsp;
      </div>
    </div>
    </div>
    </div>
  