<div class="" style="padding-top:10px">
    <h2 class="text-center" style="margin-bottom: 50px;color:#138b64;">Guidelines for all categories</h2>
    <h3 class="text-center" style="margin-bottom: 50px;color:#138b64;">
      <label style="font-size: medium;"> <a href="http://t.me/s/icmdachennai" target="blank" style="color: red;">Click here</a> to Join our Telegram channel for latest updates
        <span class="label label-default blinking">New</span>
      </label>
      <label style="font-size: medium;"> 
        <a href="https://chat.whatsapp.com/DUZpnPMsDXxKyiQ9GujfYn" target="blank" style="color: red;">Click here</a>
         to Join Whatsapp Group for latest updates
        <span class="label label-default blinking">New</span>
      </label>
    </h3>

    <div style="">
        <div class="card">
            <div class="card-header">
              <a class="card-link" target=""  href="/guidelines/instruments">
                Guidelines for INSTRUMENTS <span class="text-red"> Click Here</span>
              </a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" target="" href="/guidelines/rhythm">
                Guidelines for RHYTHM <span class="text-red"> Click Here</span>
              </a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" target="" href="/guidelines/vocal">
                Guidelines for VOCAL <span class="text-red"> Click Here</span>
              </a>
            </div>

          </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" target=""  href="/guidelines/bharathanatyam">
          Guidelines for BHARATHANATYAM <span class="text-red"> Click Here</span> 
        </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" target="" href="/guidelines/kuchipudi">
           Guidelines for KUCHIPUDI <span class="text-red"> Click Here</span> 
          </a>
        </div>
      </div>
    </div>

  </div>
