<div class="">
    <h2 class="text-center" style="margin-bottom: 50px;color:#138b64;">Guidelines for all categories</h2>
    <h3 class="text-center" style="margin-bottom: 50px;color:#138b64;">
      <label style="font-size: medium;"> <a href="http://t.me/s/icmdachennai" target="blank" style="color: red;">Click here</a> to Join our Telegram channel for latest updates
        <span class="label label-default blinking">New</span>
      </label>
    </h3>

    <div style="">
        <div class="card">
            <div class="card-header">
              <a class="card-link" target="_blank"  href="../../assets/images/guidelines/INSTRUMENTS.jpg">
                Guidelines for INSTRUMENTS <span class="text-red"> Click Here</span>
                 <span class="label label-default blinking">New</span>
              </a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" target="_blank" href="../../assets/images/guidelines/RHYTHM.jpg">
                Guidelines for RHYTHM <span class="text-red"> Click Here</span>
                 <span class="label label-default blinking">New</span>
              </a>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" target="_blank" href="../../assets/images/guidelines/VOCAL.jpg">
                Guidelines for VOCAL <span class="text-red"> Click Here</span>
                 <span class="label label-default blinking">New</span>
              </a>
            </div>

          </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" target="_blank"  href="../../assets/images/guidelines/BHARATHANATYAM.jpg">
          Guidelines for BHARATHANATYAM <span class="text-red"> Click Here</span> <span class="label label-default blinking">New</span>
        </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" target="_blank" href="../../assets/images/guidelines/KUCHIPUDI.jpg">
           Guidelines for KUCHIPUDI <span class="text-red"> Click Here</span> <span class="label label-default blinking">New</span>
          </a>
        </div>
      </div>
    </div>

  </div>
