<div class="">
    <h2 class="text-center" style="margin-bottom: 50px;color:#138b64;">Guidelines for all categories</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
              <a class="card-link" (click)="guideline1 = !guideline1" >
                Guidelines for INSTRUMENTS <span class="text-red"> Click Here</span>
                 <span class="label label-default blinking">New</span>
              </a>
            </div>
            <div [ngStyle]="{'display': guideline1 ? 'block' : 'none'}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <img src="../../assets/images/guidelines/INSTRUMENTS.jpg" width="100%" >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" (click)="guideline2 = !guideline2">
                Guidelines for RHYTHM <span class="text-red"> Click Here</span>
                 <span class="label label-default blinking">New</span>
              </a>
            </div>
            <div  [ngStyle]="{'display': guideline2 ? 'block' : 'none'}"  class="collapse" data-parent="#accordion">
              <div class="card-body">
                <img src="../../assets/images/guidelines/RHYTHM.jpg" width="100%" >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" (click)="guideline3 = !guideline3">
                Guidelines for VOCAL <span class="text-red"> Click Here</span>
                 <span class="label label-default blinking">New</span>
              </a>
            </div>
            <div [ngStyle]="{'display': guideline3 ? 'block' : 'none'}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <img src="../../assets/images/guidelines/VOCAL.jpg" width="100%" >
              </div>
            </div>
          </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" (click)="guideline4 = !guideline4">
          Guidelines for BHARATHANATYAM <span class="text-red"> Click Here</span> <span class="label label-default blinking">New</span>
        </a>
        </div>
        <div [ngStyle]="{'display': guideline4 ? 'block' : 'none'}"  class="collapse" data-parent="#accordion">
          <div class="card-body">
            <img src="../../assets/images/guidelines/BHARATHANATYAM.jpg" width="100%" >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" (click)="guideline5 = !guideline5">
           Guidelines for KUCHIPUDI <span class="text-red"> Click Here</span> <span class="label label-default blinking">New</span>
          </a>
        </div>
        <div [ngStyle]="{'display': guideline5 ? 'block' : 'none'}" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <img src="../../assets/images/guidelines/KUCHIPUDI.jpg" width="100%" >
          </div>
        </div>
      </div>
    </div>
  </div>
