<div class='center'>
    <h3 style="font-weight:bold;color:green">ONLINE CLASSICAL COMPETITIONS SEASON 2</h3>
    <label class="title" >
        GUIDELINES FOR CARNATIC VOCAL
    </label>
    <label class="sub-title">
        STATE LEVEL, NATIONAL LEVEL & INTERNATIONAL LEVEL  
    </label>
    <!-- <h5 style=" color: #d82323;" class="title-note">Note: These competitions are only for upcoming artists and students but not for professional teachers/ professional performers </h5> -->
    <h5>(<span style="color:red">Any 1</span> songs for 1,2,3 levels) (<span style="color:red;">Any 2 or 3 </span>songs for 4,5,6,7 levels)</h5>
    <div class="change-language">
        <button class="btn btn-primary btn-sm"
                style="margin-left:1%"
                onclick="setCookie('googtrans', '/hi/en', 30)">
            <span class="notranslate">ENGLISH</span>
        </button>

        <button class="btn btn-success btn-sm"
                onclick="setCookie('googtrans', '/hi/te', 30)">
            <span class="notranslate">తెలుగు</span>
        </button>

        <button class="btn btn-warning btn-sm"
                onclick="setCookie('googtrans', '/hi/ta', 30)"
               >
            <span class="notranslate">தமிழ்</span>
        </button>

        <button class="btn btn-info btn-sm"
                onclick="setCookie('googtrans', '/hi/kn', 30)"
               >
            <span class="notranslate">ಕನ್ನಡ</span>
        </button>

        <button class="btn btn-danger btn-sm"
                onclick="setCookie('googtrans', '/hi/ml', 30)"
                >
            <span class="notranslate">മലയാളം</span>
        </button>

        <button class="btn btn-info btn-sm"
                onclick="setCookie('googtrans', '/en/hi', 30)"
               >
            <span class="notranslate">हिंदी</span>
        </button>
    </div>
    <div class="row">
        <div *ngFor="let item of guidelines" class="col-md-6">
            <table style="margin-top:20px">
                <tr>
                    <th colspan="2">{{item.category}}</th>
                </tr>
                <tr>
                    <td>AGE LIMIT</td>
                    <td>{{item.age_limit}}</td>
                </tr>
                <tr>
                    <td>TIME LIMIT</td>
                    <td>{{item.time_limit}}</td>
                </tr>
                <tr>
                    <td>ITEMS</td>
                    <td> 
                        <label *ngFor="let kertana of item.items;let last = last;">
                            {{kertana}} 
                            <span *ngIf="!last" style="color: red;"> or &nbsp;</span> 
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>1ST PRIZE</td>
                    <td>{{item["1st_prize"]}}
                        <span *ngIf="item.title" style="color: red;"> and &nbsp;</span> 
                        {{item.title}}
                    </td>
                </tr>
                <tr>
                    <td>2ND PRIZE</td>
                    <td>{{item["2nd_prize"]}}</td>
                </tr>
                <tr>
                    <td>3RD PRIZE</td>
                    <td>{{item["3rd_prize"]}}</td>
                </tr>
                <tr>
                    <td>NOTE</td>
                    <td>ALL PARTICIPANTS WILL GET PARTICIPANT CERTIFICATE</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="row center" style="display: block;" >
        <h3 class="m-title" style=" font-weight: bold; color: red; "> GENERAL GUIDELINES  </h3>
        <br>
        <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #8d0096; font-size: 1.5vw; ">
            <li>Any thani avarthanam should be play with Shruthi and metronome or with Guru or a person can show the thalam</li>
            <li>Stick to the time limit allocated to your age category (see details as above )</li>
            <li>Announce only the song name, raga, thala and the composer's name before you start the Performance .</li>
            <li>Attire: Traditional Indian outfit (Long skirt for Girls and sari for women & Kurtha or Dhothi for Boys/Men) </li>
        </ol>
    </div>


    <div class="row center" style="display: block;" >
        <h3 class="m-title" style=" font-weight: bold; color: red; "> Audio and Video Guidelines  </h3>
        <br>
        <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #8d0096; font-size: 1.5vw; ">
            <li>Please use electronic tanpura/Shruthi box ONLY and put you can use metronome for thalam or anybody can show the thalam.</li>
            <li> Microphones are ok to use as long as it is setup properly.</li>
            <li>Your audio should be free from all background noise and clear for judges to hear</li> 
            <li>You can use tala app or mridangam for accompaniment</li>
            <li>Please do a test recording before the final version.</li>
            <li> No karaoke music allowed for this video recording.</li>
            <li>Use a tripod to shoot so there is NO shake in the video.</li>
            <li>Video background can be plain/simple and match against the color of your outfit.</li>
            <li> Avoid, white and black colors for video quality purposes.</li>
            <li>Angle to center of the performer and close enough to see the vocalist's hand thalam</li>
            <li>Only LIVE recording is permitted & date of recording should be mentioned. </li>

        </ol>
    </div>

    <div class="row center" style="display: block;" >
        <h3 class="m-title" style=" font-weight: bold; color: red; "> JUDGMENT
            </h3>
        <br>
        <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #8d0096; font-size: 1.5vw; ">
            <li>Performance will be judged by senior & leading international music teachers </li>
            <li> Once registered, only registration number will be used for judgment</li>
            <li> Participation Certificates will be given to all the Participants </li>
            <li>Certificates will be issued for each and every category & levels</li>
             <li>1st, 2nd  3rd place Certificates will be issued for international/national/state - for each Category & levels </li>
            </ol>
</div>
    <div class="row center" style="display: block;" >
        <h3 class="m-title" style=" font-weight: bold; color: red; ">  RESULTS ANNOUNCEMENT   </h3>
        <br>
        <ol class="m-sub-title" style=" text-align: left; margin: auto; color: #8d0096; font-size: 1.5vw; ">
            <li>All the Prizes will be announced on February 28th 2022.</li>
            <li>The pure Gold medal and the pure Silver medal along with the Award will either be given personally at Eluru office (Andhra Pradesh) or Chennai (Tamilnadu) office. (OR) The Award and medal will be distributed in any of our Music & Dance Festival organized by ICMDA (International Carnatic Musicians and Dancers Association ). </li>

        </ol>
      
    </div>

    <H3 style=" font-weight: bold; color: red; ">LAST DATE TO REGISTER and UPLOAD YOUR VIDEOS is 28th February 2022</H3>

</div>
