<div class="events">
    <!-- <img src="../../assets/images/kuchipudi_festival.jpg"> -->
    <div class="d-flex helplines">
        <div style="width: max-content;">
            <div style="width: max-content;
            margin-top: 120%;
            margin-left: 100%;">
                <h3 style="font-size: xx-large; color: green;"> <a href="/kuchipudi-event-registration"
                       style="color: red;">Click
                        here</a> to book Your Slot
                        <span class="label label-default blinking">New</span>
                </h3>
            </div>
            <div style="    margin-top: 10%;
            margin-left: 100%;
            width: max-content;">
                <h3 style="font-size: xx-large; color: green;"> <a href="/kuchipudi-event-registration"
                       style="color: red;">Click
                        here</a> to know about Festival
                        <span class="label label-default blinking">New</span>
                </h3>
            </div>
        </div>
    </div>
</div>