label{
    font-size: 15px;
}
.jumbotron {
background: blanchedalmond;
}

iframe{

    width:-webkit-fill-available
}

@media all and (max-width: 600px) and (orientation:landscape) 
{
    iframe{
        padding:0%
    }
}