<div class="container">
    <div class="row">
        <div class="col-sm-12 ">
            <div  >
                <a class="btn btn-primary" href="https://v5.airtableusercontent.com/v1/13/13/1671055200000/VfSPpcPVj3rMrW9pPXTV4Q/eYGj4xPo6RJ5uof1QxwImWU-EJ_EUzsDwfOUz4JX3bh_mtFeI-fWox_rwxz6laK2sDxI_xxwkq6Z2RLAYc9i7w/R7WTlmWZrKR54ATfDNDqC3dQJuyOTe9xQnHLAL44o44">Individual Participant Guidelines</a>
            </div>
            <div>
                <a class="btn btn-info" href="https://v5.airtableusercontent.com/v1/13/13/1671055200000/nD_-XqdKRMmSSKEsqJZqjA/MVT8PiA-UHhQ4Gix9dYHYibnT-hCPMNBei9Nxjz386wsdW3pAEDnoRmSJsaKHBjTa-X_bmedfqnDkondO8M0dA/0fse19iljJYQDMZ6c5z5bkobMJ8xQOg5oXgvGB7FDPE">
                    Group Participant Guidelines
                </a>
            </div>
            <div>
                <a class="btn btn-danger" href="https://v5.airtableusercontent.com/v1/13/13/1671055200000/4gjvX58X2cid3e3EbbUOBA/fTVHKtQbUchEbNYu77xbEmFw9gFj3QdZWNCkRv9i9GCZSkgHHKShkjge4tK3Q2qnWpOqnq2vlb0iL3GeWfCB3LaWPU-nP-u84idNMcrqzyJ7MDx_xj1rd6t1uEt_kUyD/i_3mp7ApndeqDz1H-5URCYeZ8rQvzzuuTRQc8ejz95Q">
                    Individual Participant Backdrop Poster
                </a>

            </div>
            <div>
                <a  class="btn btn-success" href="https://v5.airtableusercontent.com/v1/13/13/1671055200000/NXoM6XmcP2wH1yTOPoCoVg/mMZkVX4CobB1lUb7SEhted811o3OURe9zet1KgtqurPgexb-A9beei8sgLr5CT6t3vHUVxJPex37gIDzRf6Ey18cY61TlzmMMNMHcRbeQXjxH5w27-cvqXv-egfLsBo4/PLhwT6KZe9Hr7k1QIT9z_9Fmgrvxnevn5XVD6uVIGv4">Group Participants Backdrop Poster</a>

            </div>
            <div>
                <a href="">Aigiri Nandini Audio Song</a>

            </div>
        </div>
    </div>
</div>