<div class="container" style="display:  none">
    <div class="row">
        <h3 style="color: white; background:rgb(27, 127, 227);padding:10px">Guidelines & Instructions for 10 World Records Mega Attempt</h3>
        <div class="col-sm-12 ">
            <div  >
                <a class="btn btn-primary" href="../../assets/images/world-record-guidelines/Individual Participant Instructions.png">Individual Participant Guidelines</a>
            </div>
            <div>
                <a class="btn btn-info" href="../../assets/images/world-record-guidelines/Group Participation Instructions.png">
                    Group Participant Guidelines
                </a>
            </div>
            <div>
                <a class="btn btn-danger" href="../../assets/images/world-record-guidelines/INDIVIDUAL BACKDROP POSTER.PDF">
                    Individual Participant Backdrop Poster
                </a>

            </div>
            <div>
                <a class="btn btn-danger" href="../../assets/images/world-record-guidelines/guidelines for drawing.jpg">
                    Drawing Participants Guidelines
                </a>

            </div>

            <div>
                <a  class="btn btn-success" href="../../assets/images/world-record-guidelines/Group Participants Backdrop Poster.pdf">
                    Group Participants Backdrop Poster
                </a>

            </div>
            <div>
                <a  class="btn btn-primary" href="../../assets/images/audio/aigiri_nandini_audio.mpeg">
                    Aigiri Nandini Audio Song
                </a>
            </div>
            <div>
                <a class="btn btn-info" href="../../assets/images/world-record-guidelines/WITNESS FORM.png">
                    Wtiness Form
                </a>
            </div>
            <div>
                <a class="btn btn-danger" href="../../assets/images/world-record-guidelines/Offline Venues Poster.png">
                    Offline Venues List
                </a>
            </div>
            <div>
                <a  class="btn btn-success" href="../../assets/images/world-record-guidelines/test live.jpg">
                    Test Live Schedule
                </a>
            </div>
            <div>
                <a class="btn btn-warning" href="../../assets/images/world-record-guidelines/Official Attempt Poster.png">
                    Official Live Schedule
                </a>
            </div>
        </div>
    </div>
</div>