<div class="container">
    <div class="row">
        <div class="col-sm-12 ">
           <a href="">Individual Participant Guidelines</a>
           <a href="https://v5.airtableusercontent.com/v1/13/13/1671026400000/f9vjsW_MYY8a8vA2Dm4xpw/W4PCaUVZpxaNRLgsISmW7mTBDyekhUedj_Q9vdSyxzS2C9Oaa3CG_JtQTUHy551HmJ7tp3UCcTATS8r7Xbyl4g/6_hnNxPXGpWcFl9WypWrfxxa_0ryMRunqaFeQpBobxc">Group Participant Guidelines</a>
           <a href="https://v5.airtableusercontent.com/v1/13/13/1671026400000/3qfv0ie2piJ4QghfI1x-wA/MegpLZ9zzdFFoAcZ5SL_0fwm-KurLN7XLrBVwbiAAkuQuoKfS_2QskOKAoNzomflLQmplMmadG9heEgBlliCog/zzqVhq30d61p9EwSPbWAhUtRfyEfMTeg4awCrOKpio0">Individual Participant Backdrop Poster</a>
           <a href="">Group Participants Backdrop Poster</a>
           <a href="">Aigiri Nandini Audio Song</a>
        </div>
        <div class="col-sm-12 ">
            <img src="https://v5.airtableusercontent.com/v1/13/13/1671667200000/8gbt892-16m_7-Kt8BejBQ/iORZ0SccsyYVgoePFDO4jaUESVXdN_IdHsaZNQfGtu--durszQKOTrMDTFLEE_9wA_eYc8oyZ55W0Xs4dsjj2g/051l-gGsnyVyrgWO4x6jZVuE-eDUVcJkLIigpIxmxuk"
                alt="">
        </div>
    </div>
</div>