<div class="hs-item image bg print">
    <div class="container">
        <form>
            <div style="text-align: center;color: white;">
                <h1>Submit Video Link</h1><br>
                <div class="row">
                    <div class="col-md-3">
                        <label style="font-size: medium;">ID : <span
                                style="font-weight:
                                100;">{{userData?.id}}</span></label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: medium;">Name : <span
                                style="font-weight:
                                100;">{{userData?.name}}</span></label>
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: medium;">Email : <span
                                style="font-weight:
                                100;">{{userData?.email}}</span></label>
                    </div>
                </div>
                <div class="row">
                    <label style="font-size: medium;"> Video Link * <span
                            style="color: red;"
                            *ngIf="submitted && link == undefined">Required</span></label>
                    <textarea class="form-control" [(ngModel)]="link" name="link"></textarea>
                </div>
                <button class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
            <br>
        </form>
    </div>
</div>