<div class="table-layout">
    <div style=" text-align: center;">
        <h3> Musicians Directory</h3>
    </div>
    <div style="overflow-x:auto;background-color: #a8b8c5;">
        <table>
          <tr>
            <th>S No</th>
            <th>Name</th>
            <th>Type</th>
            <th>Category</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
            <td>94</td>
          </tr>
          <tr>
            <td>Adam</td>
            <td>Johnson</td>
            <td>67</td>
            <td>67</td>
          </tr>
        </table>
      </div>
</div>