<div class="container" >
  <h2 class="text-center" style="color:#fc0254">WORKING TOWARDS CONTINUOUS IMPROVING WELFARE OF MUSIC
    & DANCE COMMUNITY</h2>


  <ul class="text-left bn"
    style="margin-top: 2%;margin-bottom: 5%; margin-left: 3%; font-size: 20px;">
    <li> To have fair representation of Carnatic Music / Musicians & Dance / Dancers in Global music & dance festivals
      in india and abroad.
    </li>
    <li> Creating pension schemes / other financial assistance such as medical aid, medical insurance.</li>
    <ol style="margin-left: 3%;">
      <li>Providing financial aid and other financial assistance such as medical aid, medical insurance,
        pension/financial
        support, etc to indigent, ailing and senior musicians as decided by the committee.</li>
      <li>Providing Grade examination for Talent upcoming artists to promote professional artists & Teachers.</li>
      <li>To develop a good & healthy relationship between the Association and Government organizations, music
        institutions/Sabhas, Rasikaas, Media, and sponsors.</li>
      <li>In obtaining travel concessions for flights and trains, as well as baggage allowances for instruments.</li>
      <li>To ascertain problems of/between the members, analyze the same and to provide with best solutions for such
        issues
        and to sort the same without damaging the professional interests of the members and to create healthy
        relationship.
      </li>
      <li>To support and nurture new talents by providing references / recommendations / scholarships. </li>
      <li>To create a website representing the Carnatic artists fraternity highlighting the contribution of fraternity
        to
        the society. This can also be a validation platform to establish the credibility of an artist. To create
        awareness
        on Carnatic music & classical Dance Artforms through social media and to highlight the contribution.</li>
      <li>Protecting the freedom of musical expression of artistes against any efforts to disrupt Carnatic music
        performances, and in addition protect the artists from being trolled in social media and affecting the
        reputation of
        the art form.</li>
      <li>To establish a Museum in remembrance of legendary musicians and to celebrate their contributions to the
        world of
        Carnatic music.</li>
      <li>To enable the organization to contribute for charity and other social causes</li>
      <li> Every year Regularly we organize Competitions &Youth festivals in India & abroad to bring out the new young
        talents. </li>
      <li>To conduct workshops for members to develop fitness, personality, communication, and professional skills.
      </li>
    </ol>

  </ul>

  <h2 style="color:#fc0254;margin-left: 2%; ">Mission :</h2>

  <ol class="text-left" style="margin-top: 2%;margin-bottom: 3%; margin-left: 5%;font-size: 20px">
    <li> To protect the interests of Carnatic Music & Classical Dance artists irrespective of age, caste, creed, sex,
      nationality, etc. and to provide them with avenues and opportunities & more benefits , both monetary and
      psychological. Perform activities that contribute towards growth and preservation of the art forms.
    </li>
  </ol>
</div>
