/* You can add global styles to this file, and also import other style files */

@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
.site-logo {
    padding: 25px 15px;
}

.site-logo img {
    width: 270px;
}

.header-section{
    padding-right: 0px;
    padding-left: inherit;
}

@media screen and (max-width: 600px) {
    .site-logo img {
        width: 72%;
    }
}

.slicknav_menu {
    display: none
}

@media screen and (max-width: 767px) {
    .slicknav_menu {
        display: block;
    }
    .modal.show .modal-dialog {
      position :fixed;
	}
}

.carousel-inner>.item>img {
    height: 450px;
}

.hs-item {
    height: auto;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.modal-open .modal {
    opacity: 1 !important;
    background: transparent;
}

.modal.show .modal-dialog {
      margin-top: 7%;
}

.main-menu li a{
    margin-left: 30px;
}

/* input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    font-size: 2rem;
} */


/* .menu {
  display: inline;
  position: absolute;
} */