<h2 style="color:#fc0254;margin-left: 2%; " >ETHICS OF COMMITTEE</h2>

<ol class="text-left" style="margin-top: 2%;margin-bottom: 5%; margin-left: 5%; font-size: 20px;">
  <li> The Association shall cater to the needs of the entire Carnatic Musicians classical dancers Welfare & Discipline.
  </li>
  <li> Creating a code of conduct which will be applicable to all members with immediate effect from the date of
    registration of membership.</li>
  <li>Any cases of misconduct / harassment / violence / abuse reported to the Association will be duly examined and
    recommended to appropriate committees such as the Internal Complaints Committee (ICC) for necessary action from the
    date of registration of membership.</li>
  <li>Protecting the performing rights of member musicians</li>
  <li>The Association can enforce disciplinary action among members and any decision taken by the Association after due
    opportunity to the member/ members is binding on all members.</li>
  <li>Members found guilty of violation of all or any of the by-laws of the Association or rules farmed by the executive
    committee will be removed from the Association by a resolution passed by the majority of the Executive Members of
    the Committee.</li>
  <li>Members can choose and suggest if anything to add by sending mail to the committee </li>
  </ol>