<div id="generic_price_table">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--PRICE HEADING START-->
          <div class="price-heading clearfix">
            <h1>MEMBERSHIP BENIFITS</h1>
          </div>
          <!--//PRICE HEADING END-->

        </div>
      </div>
    </div>
    <div class="container">

      <!--BLOCK ROW START-->
      <div class="row">
        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Free</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <!--  <div class="generic_price_tag clearfix">  
                                     <span class="price">
                                         <span class="sign"></span>
                                         <span class="currency"></span>
                                         <span class="cent"></span>
                                         <span class="month"></span>
                                     </span>
                                 </div> -->
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul style="text-align: left;padding-left: 10px;">
                <li style="color: red; text-align: left; font-weight: bold;text-decoration: underline; ">Student
                  Benefits:</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg> Teachers platform will be arranged.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Online & Offline classes will be provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>You can choose your teacher</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Scholarships will be provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Concession will be provided for all events and competitions for exclusive members</li>
                <li
                  style="color: red; text-align: left; font-weight: bold;padding-top: 10px; text-decoration: underline;">
                  Teacher Benefits:</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>We will provide a platform(free) for teachers & students for classes all over the world.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Organizing programs.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>ICMDA committee halls will be freely provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Abroad tours, marriage, sabha concerts will be arranged (artists).</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Concession will be provided for all events and competitions for exclusive members</li>

              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Register Now</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>

        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content active clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Annual</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                <span class="price">
                  <span class="sign">Rs</span>
                  <span class="currency">3,000</span>
                  <span class="cent">.00</span>

                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul style="text-align: left;padding-left: 10px;">
                <li style="color: red; text-align: left; font-weight: bold;text-decoration: underline; ">Student
                  Benefits:</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg> Teachers platform will be arranged.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Online & Offline classes will be provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>You can choose your teacher</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Scholarships will be provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Concession will be provided for all events and competitions for exclusive members</li>
                <li
                  style="color: red; text-align: left; font-weight: bold;padding-top: 10px; text-decoration: underline;">
                  Teacher Benefits:</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>We will provide a platform(free) for teachers & students for classes all over the world.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Organizing programs.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>ICMDA committee halls will be freely provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Abroad tours, marriage, sabha concerts will be arranged (artists).</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Concession will be provided for all events and competitions for exclusive members</li>

              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Register Now</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>
        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Life Time</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                <span class="price">
                  <span class="sign">Rs</span>
                  <span class="currency">10,000</span>
                  <span class="cent">.00</span>

                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul style="text-align: left;padding-left: 10px;">
                <li style="color: red; text-align: left; font-weight: bold;text-decoration: underline; ">Student
                  Benefits:</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg> Teachers platform will be arranged.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Online & Offline classes will be provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>You can choose your teacher</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Scholarships will be provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Concession will be provided for all events and competitions for exclusive members</li>
                <li
                  style="color: red; text-align: left; font-weight: bold;padding-top: 10px; text-decoration: underline;">
                  Teacher Benefits:</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>We will provide a platform(free) for teachers & students for classes all over the world.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Organizing programs.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>ICMDA committee halls will be freely provided.</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Abroad tours, marriage, sabha concerts will be arranged (artists).</li>
                <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                    style="shape-rendering: geometricprecision;">
                    <path fill-rule="evenodd" fill="currentColor"
                      d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                    </path>
                  </svg>Concession will be provided for all events and competitions for exclusive members</li>

              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Register Now</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-6" style="margin-top: 30px; text-align: center; ">
              <!--PRICE HEADING START-->
              <div class="">
                <h1>AFFILIATE BENEFITS</h1>
              </div>
              <!--//PRICE HEADING END-->
    
            </div>
          </div>
        </div>

        <div class="container" >
          <div class="row">
              <div class="col-12 col-md-12">
                
            <!--PRICE CONTENT START-->
            <div class="generic_content clearfix">
  
              <!--HEAD PRICE DETAIL START-->
              <div class="generic_head_price clearfix">
  
                <!--HEAD CONTENT START-->
                <div class="generic_head_content clearfix">
  
                  <!--HEAD START-->
                  <div class="head_bg"></div>
                  <div class="head">
                    <span>Life Time</span>
                  </div>
                  <!--//HEAD END-->
  
                </div>
                <!--//HEAD CONTENT END-->
  
                <!--PRICE START-->
                <div class="generic_price_tag clearfix">
                  <span class="price">
                    <span class="sign">Rs</span>
                    <span class="currency">2,000</span>
                    <span class="cent">.00</span>
  
                  </span>
                </div>
                <!--//PRICE END-->
  
              </div>
              <!--//HEAD PRICE DETAIL END-->
  
              <!--FEATURE LIST START-->
              <div class="generic_feature_list">
                <ul style="text-align: left;padding-left: 10px;">
                  <li style="color: red; text-align: left; font-weight: bold;text-decoration: underline; ">Student
                    Benefits:</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg> Teachers platform will be arranged.</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>Online & Offline classes will be provided.</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>You can choose your teacher</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>Scholarships will be provided.</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>Concession will be provided for all events and competitions for exclusive members</li>
                  <li
                    style="color: red; text-align: left; font-weight: bold;padding-top: 10px; text-decoration: underline;">
                    Teacher Benefits:</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>We will provide a platform(free) for teachers & students for classes all over the world.</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>Organizing programs.</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>ICMDA committee halls will be freely provided.</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>Abroad tours, marriage, sabha concerts will be arranged (artists).</li>
                  <li><svg width="30" height="30" viewBox="0 0 16 16" class="icon"
                      style="shape-rendering: geometricprecision;">
                      <path fill-rule="evenodd" fill="currentColor"
                        d="M5.944 12.305a1.031 1.031 0 0 0 1.433-.009l5.272-5.181A1.483 1.483 0 0 0 12.661 5a1.468 1.468 0 0 0-2.109.025L7.008 8.701a.465.465 0 0 1-.685-.01l-.587-.641A1.42 1.42 0 0 0 3.661 8a1.473 1.473 0 0 0 .017 2.106l2.266 2.199z">
                      </path>
                    </svg>Concession will be provided for all events and competitions for exclusive members</li>
  
                </ul>
              </div>
              <!--//FEATURE LIST END-->
  
              <!--BUTTON START-->
              <div class="generic_price_btn clearfix">
                <a class="" href="">Register Now</a>
              </div>
              <!--//BUTTON END-->
  
            </div>
            <!--//PRICE CONTENT END-->
  
              </div>
            
          </div>
        </div>
      </div>
      <!--//BLOCK ROW END-->

    </div>
  </section>

</div>