<div>
    <h3 style="color: #d1d1d1;
 padding: 10px;
 font-weight: bold;
 background: #123202;">
        Please Choose your artform and join the meeting
    </h3> <iframe class="airtable-embed"
        src="https://airtable.com/embed/shr3sAWjKo0MhnozN?backgroundColor=purple&layout=card&viewControls=on"
        frameborder="0" onmousewheel="" width="100%" height="533"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
    <div>
        <img src="https://v5.airtableusercontent.com/v1/13/13/1671062400000/hCSRwDIEGD-JtR58r59EDQ/poyFkbLCh1-YFfWAr0EJc5z21E145JPaabr7yN5TDAspnEOYrVBexddtio4H8yvaxx4HInxjA9mD5V4fHcKe8A/6RgNbKlDoKmUiJuYpW498H1Jo7HseuQ0kVoI6AxUfTU"
            alt="">
    </div>
</div>