<div>
    <h3 *ngIf="loading" class="text-center text-danger">Please wait while the links are loading!!</h3>

    <h3 style="color: #d1d1d1;
 padding: 10px;
 font-weight: bold;
 background: #123202;">
        Please Choose your artform and join Aigiri Nandini 10 world records Test Attempt at 7PM IST
    </h3> <iframe class="airtable-embed"
        src="https://airtable.com/embed/shr3sAWjKo0MhnozN?backgroundColor=purple&layout=card&viewControls=on"
        frameborder="0" onmousewheel="" width="100%" height="633"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://v5.airtableusercontent.com/v1/13/13/1671098400000/WiBu49o4-cIsfBVOOCJ1oA/WT6aeyEFLSaSSBJU70rYACoFXhR6Xg0jdYdV4Qkn82bDSKhcKMSM-uHpdwPCqYPW3zTdpnsWYQxgcITqtdMofw/vgBAbyYOolcr4lfFuJc7z9-YO_RHET7waseK4W9cQjY"
                    alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://v5.airtableusercontent.com/v1/13/13/1671667200000/8gbt892-16m_7-Kt8BejBQ/iORZ0SccsyYVgoePFDO4jaUESVXdN_IdHsaZNQfGtu--durszQKOTrMDTFLEE_9wA_eYc8oyZ55W0Xs4dsjj2g/051l-gGsnyVyrgWO4x6jZVuE-eDUVcJkLIigpIxmxuk"
                    alt="">
            </div>
        </div>
    </div>
    <div>
    </div>
</div>