<div>
    <h3 *ngIf="loading" class="text-center text-danger">Please wait while the links are loading!!</h3>

    <h3 style="color: #d1d1d1;
 padding: 10px;
 font-weight: bold;
 background: #123202;">
        Please Choose your artform and join Aigiri Nandini 10 world records Test & Official Attempt at 7PM IST
    </h3> <iframe class="airtable-embed"
        src="https://airtable.com/embed/shr3sAWjKo0MhnozN?backgroundColor=purple&layout=card&viewControls=on"
        frameborder="0" onmousewheel="" width="100%" height="633"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="../../assets/images/world-record-guidelines/test live.jpg"
                    alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="../../assets/images/world-record-guidelines/Official Attempt Poster.png"
                    alt="">
            </div>
        </div>
    </div>
    <div>
    </div>
</div>