<form class="hs-item" [formGroup]="registrationForm">
    <div class="container">
        <h1 style="text-align: center;color: white;">Member Registration Form</h1>
            <h6 class="blinking">(Note: Anual membership with benefits at <del>3000</del> 1000 INR <i>* Opening Offer </i>)</h6>
            <h6 class="blinking">(Note: Lifetime membership with benefits at <del>15000</del> 5000 INR <i>* Opening Offer </i>)</h6>    
        <h4 style="text-align: center;color: rgb(245 240 206)">To checkout the benefits for being a member, please 
            <button class="btn btn-success" (click)="memberBenefits()">Click Here</button>
            <br><br>
        </h4>
        <div class="row">
            <div class="col-md-6">
                <label style="font-size: medium;">Membership Type
                    <span *ngIf="submitted && f.memberType.errors?.required" style="color:red">&nbsp;
                        Required</span></label>
                <select class="form-control" id="power" formControlName="memberType"
                    (change)="onMemberTypeSelect($event.target.value)">
                    <option value="" disabled selected>Select your choice</option>
                    <option *ngFor="let ac of memberType" value="{{ac.name}}">{{ac.name}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label style="font-size: medium;">Member Name
                    <span *ngIf="submitted && f.artistName.errors?.required" style="color:red">&nbsp;
                        Required</span></label>
                <input type="text" class="form-control" id="name" formControlName="artistName">
            </div>
            <div class="col-md-6">
                <label style="font-size: medium;">Art Category
                    <span *ngIf="submitted && f.artCategory.errors?.required" style="color:red">&nbsp;
                        Required</span></label>
                <select class="form-control" id="power" formControlName="artCategory"
                    (change)="onChangeCat($event.target.value)">
                    <option value="" disabled selected>Select your choice</option>
                    <option *ngFor="let ac of artCategory" value="{{ac.cat}}">{{ac.cat}}</option>
                </select>
            </div>
            <div class="col-md-6" *ngIf="selectArtFormCategory">
                <div class="form-group">
                    <label style="font-size: medium;">Art Sub-Category
                        <span *ngIf="submitted && f.artSubCategory.errors?.required" style="color:red">&nbsp;
                            Required</span></label>
                    <div class="form-group">
                        <select class="form-control" id="power" formControlName="artSubCategory"
                            (change)="changeArtSubCat($event.target.value)">
                            <option value="" disabled selected>Select your choice</option>
                            <option *ngFor="let music of musicSubCat" value="{{music.cat}}">{{music.cat}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">Art Form
                        <span *ngIf="submitted && f.artForm.errors?.required" style="color:red">&nbsp;
                            Required</span></label>
                    <div class="form-group">
                        <select class="form-control" id="power" formControlName="artForm">
                            <option value="" disabled selected>Select your choice</option>
                            <option *ngFor="let music of diffCat">{{music.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">Email
                        <span *ngIf="submitted && f.email.errors?.required" style="color:red">&nbsp;
                            Required</span></label>
                    <input type="text" class="form-control" id="name" formControlName="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label style="font-size: medium;">Whatsapp Mobile Number (Including Country Code)
                            <span *ngIf="submitted && f.mobileNumber.errors?.required" style="color:red">&nbsp;
                                Required</span></label>
                        <input type="text" class="form-control" id="name" formControlName="mobileNumber">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">Country <span *ngIf="submitted && f.country.errors?.required"
                            style="color:red">&nbsp;
                            Required</span></label>
                    <input type="text" class="form-control" id="name" formControlName="country">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">City
                        <span *ngIf="submitted && f.city.errors?.required" style="color:red">&nbsp;
                            Required</span></label>
                    <input type="text" class="form-control" id="name" formControlName="city">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">Zipcode/Pincode
                        <span *ngIf="submitted && f.zipcode.errors?.required" style="color:red">&nbsp;
                            Required</span></label>
                    <input type="text" class="form-control" id="name" formControlName="zipcode" maxlength="6">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">Membership Plan
                        <span *ngIf="submitted && f.membershipType.errors?.required" style="color:red">&nbsp;
                            Required</span></label>
                    <select class="form-control" id="membershipType" formControlName="membershipType"
                        (change)="membershipType($event.target.value)">
                        <option value="" disabled selected>Choose Membership Plan</option>
                        <option *ngFor="let type of memberShipTypes" value="{{type.type}}">{{type.type}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6" *ngIf="memberTypeValue">
                <label style="font-size: medium;">Video 1 </label>
                <textarea type="text" class="form-control" id="video1" formControlName="video1"></textarea>
            </div>
            <div class="col-md-6" *ngIf="memberTypeValue">
                <label style="font-size: medium;">Video 2</label>
                <textarea type="text" class="form-control" id="video2" formControlName="video2"></textarea>
            </div>
            <div class="col-md-6" *ngIf="memberTypeValue">
                <label style="font-size: medium;">Video 3</label>
                <textarea type="text" class="form-control" id="video3" formControlName="video3"></textarea>
            </div>
            <div class="col-md-6" *ngIf="memberTypeValue">
                <label style="font-size: medium;">Video 4</label>
                <textarea type="text" class="form-control" id="video4" formControlName="video4"></textarea>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">Address
                        <span *ngIf="submitted && f.address.errors?.required" style="color:red">&nbsp;
                            Required</span></label>
                    <textarea type="text" class="form-control" id="name" formControlName="address"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label style="font-size: medium;">About Yourself</label>
                    <textarea type="text" class="form-control" id="name" formControlName="aboutYourSelf"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label style="font-size: medium;">Date of Birth(age)
                        <span *ngIf="submitted && age == undefined" style="color:
                red;">&nbsp; Required</span>
                    </label>
                    <div class="form-inline dob" style="display: flex;">
                        <select class="form-control" id="sel2" (change)="daychnage($event.target.value)">
                            <option value="" disabled selected>Day</option>
                            <option *ngFor="let dMdl of dayModel" value="{{dMdl}}">{{dMdl}}</option>
                        </select>
                        <select class="form-control" id="sel1" (change)="monthChange($event.target.value)">
                            <option value="" disabled selected>Month</option>
                            <option *ngFor="let mnMdl of monthModel" value="{{mnMdl.name}}">{{mnMdl.name}}</option>
                        </select>

                        <select class="form-control" id="sel3" (change)="yearChange($event.target.value)">
                            <option value="" disabled selected>Year</option>
                            <option *ngFor="let yMdl of yearModel" value="{{yMdl}}">{{yMdl}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label style="font-size:medium">Please upload passport size photo
                        <span *ngIf="submitted && !selectedValue" style="color:red">&nbsp;
                            Required</span> </label><br>
                    <ngx-uploadcare-widget data-crop="3:4" public-key="786c3b03d6095e0a34f3" images-only="true"
                        (on-upload-complete)="yourOnUploadHandler($event)">
                    </ngx-uploadcare-widget>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label style="font-size:medium">Please upload your certificate </label><br>
                    <ngx-uploadcare-widget data-crop="3:4" public-key="786c3b03d6095e0a34f3" images-only="true"
                        (on-upload-complete)="yourOnCertificateUploadHandler($event)">
                    </ngx-uploadcare-widget>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label style="font-size:medium">Please upload your payment receipt
                        <span *ngIf="submitted && !paymentreceipt" style="color:red">&nbsp;
                            Required</span>  </label><br>
                    <ngx-uploadcare-widget data-crop="3:4" public-key="786c3b03d6095e0a34f3" images-only="true"
                        (on-upload-complete)="yourOnPaymentReceipt($event)">
                    </ngx-uploadcare-widget>
                </div>
            </div>
            <div class="col-md-12 well" style="background: #343a4e;">
                <label style="font-size: medium;">Make payment with either PhonePe / Gpay
                    / Paypal / NetBanking
                    <span style="color: red;">(Excluding transaction fee)</span>
                </label><br>
                <div class="col-md-2">
                    <div class="form-group">
                        <label style="font-size: medium;">Amount</label>
                        <div style="background-color: white;font-size: 28px;font-weight:
                bold;padding-left: 10px;">
                            ₹ {{amount}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label style="font-size: medium;">PhonePe / GPay (India)</label>
                        <div style="background-color: white;font-size:
                16px;padding-left:10px;font-weight: bold;">
                            9884220404
                            <img src="../../assets/images/phonepe.png" width="37px" style="margin-left: 22px;">
                            <img src="../../assets/images/gpay2.jpg" width="60px" style="margin-left: 22px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="false">
                    <div class="form-group">
                        <label style="font-size: medium;">PayPal(International)</label>
                        <div style="background-color: white;font-size:
                1em;padding-left:10px;font-weight: bold;padding: 8px;">
                            <a href="https://paypal.me/icmdaDecEvent" target="blank">https://paypal.me/icmdaDecEvent</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label style="font-size: medium;">NetBanking</label>
                        <div style="background-color: white;font-size:
                1em;padding-left:10px;font-weight: bold;padding: 8px;display:grid">
                            <span>Account No : 40465698803 </span>
                            <span>Name : INTERNATIONAL CARNATIC MUSICIANS & DANCERS ASSOCIATION </span>
                            <span>IFSC : SBIN0016987 </span>
                            <span>BANK NAME : State Bank Of India</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <button type="submit" class="btn btn-success" (click)="submitForm()">Submit</button><br><br>
        </div>
    </div>
</form>