<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="container bg-blue">
  <div class="text-center" id="bar">Advisory Board</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/t-v-gopalakrishnan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Padma Bhushan </span>
              <span class="label label-success">Sangeetha Kalanidhi </span>
            </div>
            <div class="name">Sri. T V GOPALAKRISHNAN</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/ANNAVARAPU-RAMASWAMI-GARU.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Nada sudharnava</span>
            </div>
            <div class="name">Sri. ANNAVARAPU RAMASWAMI</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/radheshyam_master_garu.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">National & state Awarde </span>
            </div>
            <div class="name">Sri. Vedhantham Radheshyam</div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/seshachari-ragavachari.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">The Hyderabad Brothers </span>
            </div>
            <div class="name">Sri.SESHACHARRY, Sri.RAGAVACHARRY</div>
          </h5>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/N-C-MURTHY.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidwan</span>
              <span class="label label-success">Vaggeya Vidwanmani</span>
            </div>
            <div class="name">Sri. N C MURTHY</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/bhavani_prakash.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidushi </span>
            </div>
            <div class="name">Dr. Bhavani Prakash</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/PATRI_SATHIS_KUMAR.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridangam vidwan </span>
            </div>
            <div class="name">Sri. Patri Sathish Kumar</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/BOMBAI-SISTERS.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Bombay Sisters </span>
            </div>
            <div class="name">Smt. Saroja, Smt. Lalita</div>
          </h5>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri. DHANANJEYAN</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/narmadha.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidushi </span>
            </div>
            <div class="name">Dr. M.NARMDHA</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/USHARAJAGOPALAN.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidushi </span>
            </div>
            <div class="name">Sri. Usha RajaGopalan</div>
          </h5>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SANTHA DHANANJETAN </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rajasekar.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Morsing vidwan </span>
            </div>
            <div class="name">Sri. B Rajashekar Bangalore</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/PADMALAKSHM-SURESH.PNG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyachary </span>
            </div>
            <div class="name">PADMA LAKSHME SURESH</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/chitramurali.PNG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyachary </span>
            </div>
            <div class="name">CHITRA MURALIDHARAN</div>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-blue">
  <div class="text-center" id="bar">Executive Committee Members</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
      <div class="card mama">
        <img src="../../assets/images/members/KANYA_KUMARI.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Padmasri </span>
              <span class="label label-success">Sangeetha kalanidhi </span>
              <span class="label label-success">Kalaimanai </span>
            </div>
            <div class="name">Kum A.KANYAKUMARI</div> 
            <span class="label label-info">President </span>

          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/PARVATHI_RAVI_GANTASALA.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Kalaimamani </span>
            </div>
            <div class="name">Smt. Parvathi Ravi Gantasala</div>
            <span class="label label-info">Vice-President </span>

          </h5>
        </div>
      </div>
    </div>
  
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/MANDAPAKA_NAGALAKSHMI.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan </span>
            </div>
            <div class="name"> Dr. Mandapaka Nagalakshmi</div>
            <span class="label label-info">Vice-President </span>

          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Dr_krishna_kumar.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya </span>
            </div>
            <div class="name"> Dr. S KRISHNA KUMAR</div>
            <span class="label label-info">Secretary </span>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rajesh.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyavisarada </span>
            </div>
            <div class="name">Sri. Machiraju Rajesh Kumar</div>
            <span class="label label-info">Secretary </span>

          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/vishnuVardhan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidwan</span>
            </div>
            <div class="name">Sri. Vishnuvardhan krishnan</div>
            <span class="label label-info">Secretary </span>

          </h5>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-md-offset-3 col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/E_R_Janardhan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Founder </span>
              <span class="label label-success">Saxophone vidwan </span>
            </div>
            <div class="name"> Sri. E R JANARDHAN</div>
            <span class="label label-info">General Secretary </span>

          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/ashadeepa.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">G.N.M</span>
            </div>
            <div class="name"> Asha Deepa R</div>
            <span class="label label-info">Treasurer</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/Saimahesh.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Software Engineer</span>
            </div>
            <div class="name">Sai Mahesh R</div>
            <span class="label label-info">Treasurer</span>

          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card mama">
      <img src="../../assets/images/members/rama-mohan.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <div>
            <span class="label label-success">Trustee</span>
            <span class="label label-success">Mandolin vidwan </span>
          </div>
          <div class="name">Sri. Rama Mohan</div>
          <span class="label label-info">Member </span>

        </h5>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card mama">
      <img src="../../assets/images/members/swarnalatha.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <div>
          </div>
          <div class="name">Sri. B Swarnalatha</div>
          <span class="label label-info">Member </span>

        </h5>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card mama">
      <img src="../../assets/images/members/satish.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <div>
          </div>
          <div class="name">Sri. Satish Kumar</div>
          <span class="label label-info">Member </span>

        </h5>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container bg-blue">
  <div class="text-center" id="bar">Regional Secretaries (India)</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/raguraman.PNG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidwan </span>
            </div>
            <div class="name"> Sri. VILLIVAKKA RAGURAMAN</div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/nGuruPrasad.JPG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Gatam vidwan</span>
            </div>
            <div class="name">Sri. N Guru Prasad</div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/durai.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidwan </span>
            </div>
            <div class="name"> Sri. Durai Srinivas</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/balaguru.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya </span>
            </div>
            <div class="name"> Sri. V Balagurunathan</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/H_V_SRUTHI.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidushi</span>
            </div>
            <div class="name"> Smt. H.V.SHRUTHI</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/KHALEEL.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya</span>
            </div>
            <div class="name"> Sri. SHAIK KHALEEL</div>
          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container bg-blue">
  <div class="text-center" id="bar">International Coordinators</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SHUBA_GUNAPU.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidushi</span>
              <span class="label label-success">Ragamalika San jose</span>
            </div>
            <div class="name">Smt. SHUBHA GUNAPU
              <i class="fa fa-map-marker" aria-hidden="true"> USA(LA)</i>
              </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/prakash.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
            </div>
            <div class="name">Sri. PRAKASH
              <i class="fa fa-map-marker" aria-hidden="true">  USA(NJ)</i>
              </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/srini_ji.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Veena vidwan</span>
            </div>
            <div class="name">Sri. SRINI JI
              <i class="fa fa-map-marker" aria-hidden="true">  USA(TX)</i>
              </div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/vickyPathmanathan.PNG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharini</span>
            </div>
            <div class="name">Smt. Vicky Pathmanathan
              <i class="fa fa-map-marker" aria-hidden="true"> Europe</i>
              </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Jimmy_Appalamma.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
              <span class="label label-success">Reunion Island</span>
            </div>
            <div class="name">Sri. JIMMY APALAMA
              <i class="fa fa-map-marker" aria-hidden="true"> FRANCE</i>
             </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rajalingam-raghunandanan.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
              <span class="label label-success">Kalaimadram</span>
            </div>
            <div class="name">Sri. RAGHU RAJALINGAM
              <i class="fa fa-map-marker" aria-hidden="true"> SRI LANKA</i>
              </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SIVANATHAN_PILLAI.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
            </div>
            <div class="name">Sri. SIVANADHAN
              <i class="fa fa-map-marker" aria-hidden="true"> SOUTH AFRICA</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SIVARAMAN_MARDE.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Gatam vidwan</span>
            </div>
            <div class="name">Sri. SIVARAMAN MARDE
              <i class="fa fa-map-marker" aria-hidden="true"> MAURITIUS</i>
              </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/jothiswar.PNG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Telugu Samajam Vice-president</span>
            </div>
            <div class="name">Sri. JOTHISWAR
              <i class="fa fa-map-marker" aria-hidden="true"> SINGAPORE</i>
              </div>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
