<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="container bg-blue">
  <div class="text-center" id="bar">President
  </div>
  <div class="row ">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Padmasri Sangeethakalanidhi Kalaimanai</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/KANYA_KUMARI.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kum .A .KANYAKUMARI </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="text-center" id="bar">Vice-president
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/radheshyam_master_garu.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">National & state Awarde Sri. Vedhantham Radheshyam</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/PATRI_SATHIS_KUMAR.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri . Patri Sathish Kumar (Mridhangam)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/PARVATHI_RAVI_GANTASALA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kalaimamani Smt Parvathi Ravi Gantasala (Natyam)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Sekar_Photo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri T K SHEKAR (thavil)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kalaratna, Dr.S P Bharathi (Natyam)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/MANDAPAKA_NAGALAKSHMI.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Mandapaka Nagalakshmi (Mridhangam)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/bhavani_prakash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Bhavani Prakash (Vocal)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rajasekar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bangalore Sri B Rajashekar (Morsing)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Ashok_G_GURA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri ASHOK G.GURAJALA</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="text-center" id="bar">General Secretaries
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/E_R_Janardhan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Sri E R JANARDHAN (Founder)
          </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. GANESH</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Dr_krishna_kumar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr . K KRISHNA KUMAR</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri VILLIVAKKA RAGURAMAN</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="text-center" id="bar">Regional Secretaries
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Sri. Durai Srinivas</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri. V Balagurunathan</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/H_V_SRUTHI.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Smt. H. V. SHRUTHI
          </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/KHALEEL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri . SHAIK KHALEEL</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri . Rajesh Machiraju </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="text-center" id="bar"> Coordinators from other countries
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SHUBA_GUNAPU.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Smt. SHUBHA GUNAPU, USA(LA)
          </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/prakash.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri PRAKASH, USA(NJ)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/srini_ji.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri. SRINI JI, USA(TX)</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri PAHEERATHAN, GERMANY</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Jimmy_Appalamma.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri JIMMY APALAMA, FRANCE
          </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri RADHU RAJALINGAM, SRI LANKA</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SIVANATHAN_PILLAI.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri SIVANADHAN, SOUTH AFRICA
          </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SIVARAMAN_MARDE.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri SIVARAMAN MARDE, MAURITIUS</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri JOTHISWAR, SINGAPORE </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="text-center" id="bar">Advisory Board
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri. T V GOPALAKRISHNAN </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri. ANNAVARAPU RAMASWAMI </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. M .NARMDHA</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri.SESHACHARRY</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri.RAGAVACHARRY</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri. N C MURTHY</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri DHANANJEYAN</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SANTHA DHANANJETAN </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PADMA LAKSHME SURESH</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CHITRA MURALIDHARAN</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
