<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="container bg-blue">
  <div class="text-center" id="bar">Advisory Board</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/t-v-gopalakrishnan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Padma Bhushan </span>
              <span class="label label-success">Sangeetha Kalanidhi </span>
            </div>
            <div class="name">Sri. T V GOPALAKRISHNAN</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/ANNAVARAPU-RAMASWAMI-GARU.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Nada Sudharnava</span>
            </div>
            <div class="name">Sri. ANNAVARAPU RAMASWAMI</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/radheshyam_master_garu.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">National & State Awardee </span>
            </div>
            <div class="name">Sri. Vedhantham Radheshyam</div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/seshachari-ragavachari.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">The Hyderabad Brothers </span>
            </div>
            <div class="name">Sri.SESHACHARRY, Sri.RAGAVACHARRY</div>
          </h5>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/N-C-MURTHY.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidwan</span>
              <span class="label label-success">Vaggeya Vidwanmani</span>
            </div>
            <div class="name">Sri. N C MURTHY</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/bhavani_prakash.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidushi </span>
            </div>
            <div class="name">Dr. Bhavani Prakash</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/PATRI_SATHIS_KUMAR.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridangam vidwan </span>
            </div>
            <div class="name">Sri. Patri Sathish Kumar</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/BOMBAI-SISTERS.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Bombay Sisters </span>
            </div>
            <div class="name">Smt. Saroja, Smt. Lalita</div>
          </h5>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sri. DHANANJEYAN</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/narmadha.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidushi </span>
            </div>
            <div class="name">Dr. M.NARMADHA</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/USHARAJAGOPALAN.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidushi </span>
            </div>
            <div class="name">Sri. Usha RajaGopalan</div>
          </h5>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/no_image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">SANTHA DHANANJETAN </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div> -->
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rajasekar.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Morsing vidwan </span>
            </div>
            <div class="name">Sri. B Rajashekar Bangalore</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/PADMALAKSHM-SURESH.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyachary </span>
            </div>
            <div class="name">Smt. PADMA LAKSHMI SURESH</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/chitramurali.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyachary </span>
            </div>
            <div class="name">Smt. CHITRA MURALIDHARAN</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Dhananjayan.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Bharatanatyam </span>
              <span class="label label-success">Padma Bhushan </span>
            </div>
            <div class="name">Sri V.P Dhananjayan & Shanta Dhananjayan</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/govindarajan.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">VainikaRatna </span>
            </div>
            <div class="name">Sri K.S.GovindaRajan</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/bhagavatula.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya </span>
            </div>
            <div class="name">Sri Bhagavatula Venkata Rama Sarma</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/kvs.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya </span>
            </div>
            <div class="name">Sri Kaja Venkata Subramanyam</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/ramalinga sastry.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya </span>
              <br>
              <span class="label label-success">Principal of Kuchipudi college </span>
            </div>
            <div class="name">SRI. VEDHANTHAM RAMALINGA SASTRY</div>
          </h5>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="container bg-blue">
  <div class="text-center" id="bar">Executive Committee Members</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
      <div class="card mama">
        <img src="../../assets/images/members/KANYA_KUMARI.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Padmasri </span>
              <span class="label label-success">Sangeetha kalanidhi </span>
              <span class="label label-success">Kalaimamani </span>
            </div>
            <div class="name">Kum A.KANYAKUMARI</div>
            <span class="label label-info">President </span>

          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/PARVATHI_RAVI_GANTASALA.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Kalaimamani </span>
            </div>
            <div class="name">Smt. Parvathi Ravi Gantasala</div>
            <span class="label label-info">Vice-President</span>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/MANDAPAKA_NAGALAKSHMI.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan </span>
            </div>
            <div class="name"> Dr. Mandapaka Nagalakshmi</div>
            <span class="label label-info">Vice-President </span>

          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/bharati.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Kuchipudi Natyaguru</span>
              <span class="label label-success">Kalaratna</span>
              <span class="label label-success"> Member of Central Sangeet Nataka Academy</span>
            </div>
            <div class="name"> Dr. S.P.Bharathi </div>
            <span class="label label-info">Vice-President </span>

          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Dr_krishna_kumar.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya </span>
            </div>
            <div class="name"> Dr. S KRISHNA KUMAR</div>
            <span class="label label-info">Secretary </span>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rajesh.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyavisarada </span>
            </div>
            <div class="name">Sri. Machiraju Rajesh Kumar</div>
            <span class="label label-info">Secretary </span>

          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/vishnuVardhan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidwan</span>
            </div>
            <div class="name">Sri. Vishnuvardhan krishnan</div>
            <span class="label label-info">Secretary </span>

          </h5>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-md-offset-3 col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/E_R_Janardhan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Founder </span>
              <span class="label label-success">Saxophone vidwan </span>
            </div>
            <div class="name"> Sri. E R JANARDHAN</div>
            <span class="label label-info">General Secretary </span>

          </h5>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/ashadeepa.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">G.N.M</span>
            </div>
            <div class="name"> Asha Deepa R</div>
            <span class="label label-info">Treasurer</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="card mama">
        <img src="../../assets/images/members/Saimahesh.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Software Engineer</span>
            </div>
            <div class="name">Sai Mahesh R</div>
            <span class="label label-info">Treasurer</span>

          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3" style="display: none;"></div>
    <div class="col-xs-12 col-sm-6 col-md-6" style="display: none;">
      <div class="card mama">
        <img src="../../assets/images/members/Shivani.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Software Engineer</span>
            </div>
            <div class="name">Lakshmi shivani M</div>
            <span class="label label-info">Treasurer</span>

          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-blue">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rama-mohan.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Trustee</span>
              <span class="label label-success">Mandolin vidwan </span>
            </div>
            <div class="name">Sri. Rama Mohan</div>
            <span class="label label-info">Member </span>

          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/ravi.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya</span>
            </div>
            <div class="name">Sri. Chinta Ravi BalaKrishna</div>
            <span class="label label-info">Member </span>

          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/satish.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
            </div>
            <div class="name">Sri. Satish Kumar</div>
            <span class="label label-info">Member </span>

          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-blue">
  <div class="text-center" id="bar">Regional Coordinators(India)</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/raguraman.PNG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidwan </span>
            </div>
            <div class="name"> Sri. VILLI VAKKAM RAGURAMAN</div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/nGuruPrasad.JPG" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Gatam vidwan</span>
            </div>
            <div class="name">Sri. N Guru Prasad</div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/durai.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Violin vidwan </span>
            </div>
            <div class="name"> Sri. Durai Srinivas</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/balaguru.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya </span>
            </div>
            <div class="name"> Sri. V Balagurunathan</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/H_V_SRUTHI.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidushi</span>
            </div>
            <div class="name"> Smt. H.V.SHRUTHI</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/khaleel.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Natyacharya</span>
            </div>
            <div class="name"> Sri. SHAIK KHALEEL</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/murugavel.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Nadaswaram Vidwan</span>
            </div>
            <div class="name"> Dr. T. G.MURUGAVEL</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/janaki_garu.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">NatyaCharya</span>
            </div>
            <div class="name">Smt. P.V Janaki</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/muniratnam.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Nadaswaram Vidwan</span>
            </div>
            <div class="name">Sri. SADULA MUNIRATNAM </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/THILLAISTHANAM Dr.R SURIYANARAYANAN.jpeg" class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridangam Vidwan</span>
            </div>
            <div class="name">THILLAISTHANAM Dr.R SURIYANARAYANAN</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/jayaram garu.jpeg" class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridangam Vidwan</span>
            </div>
            <div class="name">SRI. B. Jayaram</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/kathambari.jpg" class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Dancer</span>
            </div>
            <div class="name">SMT. Kathambari S.R</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/K.Vanithavasan.jpeg" class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Dancer</span>
            </div>
            <div class="name">SMT. K. Vanitha vasan</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/parvati.jpeg" class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Kuchipudi Natyaguru</span>
            </div>
            <div class="name">Kum A.parvathi Ramachandran</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/suresh.jpeg" class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal Vidwan</span>
            </div>
            <div class="name">Smt. Aishwarya Suresh</div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/uma.jpeg" class="card-img-top"
          alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Kuchipudi NatyaChary</span>
            </div>
            <div class="name">Smt. Uma Maheswari</div>
          </h5>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="container bg-blue">
  <div class="text-center" id="bar">International Coordinators</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SHUBA_GUNAPU.jpg" class="card-img-tops" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/23ab2b14a9b1b1e5989f6d0cd423b059/7df31efc" class="flag-img" />
        <div class="card-body">
         
          <h5 class="card-title">
            <div>
              <span class="label label-success">Vocal vidushi</span>
              <span class="label label-success">Ragamalika San jose</span> 
            </div>
            <div class="name">Smt. SHUBHA GUNAPU <br>
             <!-- <p class="designation"> Director of Ragamalika</p> -->
              <i class="fa fa-map-marker" aria-hidden="true"> USA(LA)</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/prakash.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/23ab2b14a9b1b1e5989f6d0cd423b059/7df31efc" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
            </div>
            <div class="name">Sri. PRAKASH <br>
             <!-- <p class="designation"> Lecturer</p> -->
              <i class="fa fa-map-marker" aria-hidden="true"> USA(NJ)</i>
            </div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/srini_ji.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/23ab2b14a9b1b1e5989f6d0cd423b059/7df31efc" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Veena vidwan</span>
            </div>
            <div class="name">Sri. SRINI JI <br>
              <i class="fa fa-map-marker" aria-hidden="true"> USA(TX)</i>
            </div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Jimmy_Appalamma.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/503d715c184e1cf43402ecd255e18fc4/4d0bc631.png" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
              <span class="label label-success">Reunion Island</span>
            </div>
            <div class="name">Sri. JIMMY APALAMA <br>
              <i class="fa fa-map-marker" aria-hidden="true"> FRANCE</i>
            </div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/rajalingam-raghunandanan.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/e069485688a2a8e7d626f1fe220c2e02/640e28f9" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
              <span class="label label-success">Kalaimadram</span>
            </div>
            <div class="name">Sri. RAGHU RAJALINGAM
              <i class="fa fa-map-marker" aria-hidden="true"> SRI LANKA</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SIVANATHAN_PILLAI.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/5b37911dd25bdbbe6da88e949834e951/c5b310f7" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Mridhangam vidwan</span>
            </div>
            <div class="name">Sri. SIVANADHAN
              <i class="fa fa-map-marker" aria-hidden="true"> SOUTH AFRICA</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/SIVARAMAN_MARDE.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/422db072e2ec3f24431d8121cb8d64ea/919a752b.png" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Gatam vidwan</span>
            </div>
            <div class="name">Sri. SIVARAMAN MARDE <br>
              <i class="fa fa-map-marker" aria-hidden="true"> MAURITIUS</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/jothiswar.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/611df16e97442aa1ae08bffc5875e8ea/4b2a39ef" class="flag-img" />
      
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Telugu Samajam Vice-president</span>
            </div>
            <div class="name">Sri. JOTHISWAR
              <i class="fa fa-map-marker" aria-hidden="true"> SINGAPORE</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/PadmasriJeyaratnam.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/8180738e783284d4059137a6573bf98b/39e2d32e.png" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div class="name"> Sri. Jeyaratnam <br>
              <i class="fa fa-map-marker" aria-hidden="true"> U K</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/seshu kumari garu.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/611df16e97442aa1ae08bffc5875e8ea/4b2a39ef" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div class="name"> Smt. Y. Seshu Kumari <br>
              <i class="fa fa-map-marker" aria-hidden="true"> Singapore</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/P Nirojan.PNG" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/8180738e783284d4059137a6573bf98b/39e2d32e.png" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div class="name"> Sri. P. Nirojan <br>
              <i class="fa fa-map-marker" aria-hidden="true"> London</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Lalitha Chandrasekar.jpg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/c8f3217f23dbce2f434a5b8875d0bb19/a7472bc2" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div class="name"> Smt. Sri Lalitha Chandrasekhar<br>
              <i class="fa fa-map-marker" aria-hidden="true"> Dubai</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Ryan K nathan.jpeg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/23ab2b14a9b1b1e5989f6d0cd423b059/7df31efc" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div class="name"> Sri. Ryan K Nathan <br>
              <i class="fa fa-map-marker" aria-hidden="true"> USA(LA)</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Narainsamy sanyasi.jpeg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/422db072e2ec3f24431d8121cb8d64ea/919a752b.png" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Telugu MahaSabha President</span>
            </div>
            <div class="name">Sri. Narainsamy Sanyasi <br>
              <i class="fa fa-map-marker" aria-hidden="true"> MAURITIUS</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/Sudhakarao garu.jpeg" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/c04a275ed88dd882b30ad30dab157c85/31e2151b" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success"></span>
            </div>
            <div class="name">Sri. K. Sudhakar Rao <br>
              <i class="fa fa-map-marker" aria-hidden="true"> KUWAIT</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets\images\members/mukunda kumar.jpg" class="card-img-top" alt="..." />
        <img src="https://cdn.britannica.com/97/897-004-232BDF01/Flag-Germany.jpg" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success"></span>
            </div>
            <div class="name">SRI. Aravinda Mukunda kumar<br>
              <i class="fa fa-map-marker" aria-hidden="true"> Germany</i>
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/swapna.png" class="card-img-top" alt="..." />
        <img src="https://dl.airtable.com/.attachmentThumbnails/23ab2b14a9b1b1e5989f6d0cd423b059/7df31efc" class="flag-img" />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success"></span> 
            </div>
            <div class="name">SMT. Swapna Suresh<br>
              <i class="fa fa-map-marker" aria-hidden="true"> USA</i>
            </div>
          </h5>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container bg-blue">
  <div class="text-center" id="bar">Legal Advisors</div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/sasikalagaru.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <!-- <span class="label label-success"></span> -->
              <span class="label label-success">Advocate</span>
            </div>
            <div class="name">Smt. Sasi Kala
              <!-- <i class="fa fa-map-marker" aria-hidden="true"> USA(LA)</i> -->
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/ramyagaru.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <span class="label label-success">Advocate</span>
            </div>
            <div class="name">Smt. Ramya
              <!-- <i class="fa fa-map-marker" aria-hidden="true">  </i> -->
            </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card mama">
        <img src="../../assets/images/members/venkateswara_rao.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">
            <div>
              <!-- <span class="label label-success"></span> -->
              <span class="label label-success">Advocate</span>
            </div>
            <div class="name">Mr. Venkateswara Rao
              <!-- <i class="fa fa-map-marker" aria-hidden="true"> USA(LA)</i> -->
            </div>
          </h5>
        </div>
      </div>
    </div>

  </div>
</div>