<div class="container">
        <div class="">
<h3 style="text-align: center;color: rgb(255, 0, 242);margin-top: 60px;"> Vaggeyakara Vaibhavam Monthly Competitions </h3>

          <div class="col-12 col-md-4 " style="display:none">
            <div class=" border-0 m-3">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/d07c6c4da74f11a7af9022a65705c024/38e3b0d2" alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;">THALLAPAKA ANNAMAYYA COMPETITIONS </p>
                <p class="text-muted mt-3">June month Online competition for Music & Dance for all categories.
                  Registrations are opened.Register on or before 28th June. For latest updates join Telegram channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/thallapaka-annamayya">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/e2b68a53437d2dae2cd9feee70292cfd/6cbf00e3" alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;">SRI BHAKTA RAMADASU <br>MUSIC & DANCE COMPETITIONS</p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">July month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th July. For latest updates join Telegram channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/july">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic">
                <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/43e6084c8756cdc4eb15f3f94e528354/d5b51fc3" alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;font-size: 14px;">SRI THALLAPAKA ANNAMACHARYA MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">August month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened.Register on or before 28th August. For latest updates join Telegram channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/august">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/9a406a4446535d7f45189433a492a8f8/dc285073" alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;">SRI MUTHUSWAMI DEEKSHITHAR MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">September month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th September. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/september">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/4550f440988049ed65956d059714da00/4a57989a"
                  alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;"> THILLANA <br>MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">October month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th October. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/october">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/43991a5dcd6d8c82d1927d8a41fc0dd1/5bd5633c"
                  alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;">SRI SHYAMA SHASTRI <br>MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">November month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th November. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/november">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/633ad8195ef6ece4162a08a7519ec302/f07757dd"
                  alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;"> NAMASANKEERTHANA <br> MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">December month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th December. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/december">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/c02ce722ee657b2fef7ff251fc3dc7ca/8af8dd3d"
                  alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style="  color: #0a183d;font-weight: bold;">SRI NARAYANA THEERTHAR MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">January month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th January. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/january">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/4c6ad3883aae921839a321d8ef3a839c/f988cb7c"
                  alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style=" color: #0a183d;font-weight: bold;font-size: 13px;">SRI UTHUKADU VENKATASUBRAMNYA<br>MUSIC & DANCE
                  COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">February month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th February. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/february">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/d5285e021e518a162bf1545ae7d38510/0b89db87"
                  alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style=" color: #0a183d;font-weight: bold;">SRI GOPALA KRISHNA BHARATHI MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold;">March month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th March. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/march">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/c4ee62637aba47306eedd794cce72963/e360548a" alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style=" color: #0a183d;font-weight: bold;">SRI SUBRAMANYA BHARATHI MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">April month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th April. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/april">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/202c7470f6326669d88422d2d25a11c0/ab7aab42" alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style=" color: #0a183d;font-weight: bold;">SRI PAPANASAM SIVAN <br>MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">May month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th May. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/may">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-4">
            <div class=" border-0 m-2">
              <div class="backgroundEffect"></div>
              <div class="pic"> <img class=""
                  src="https://dl.airtable.com/.attachmentThumbnails/e316a1cbcb895840ebdf639baf180541/4b4ae34f" alt="">
              </div>
              <div class="content">
                <p class="h-1 mt-4" style=" color: #0a183d;font-weight: bold;">SRI BALA MURALI KRISHNA MUSIC & DANCE COMPETITIONS
                </p>
                <p class="text-muted mt-3">
                  <span style=" color: red;font-weight: bold">June month</span>
                  Online competition for Music & Dance for all categories.
                  Registrations are opened. Register on or before 28th June. For latest updates join Telegram
                  channel
                </p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3" style="margin-left: 5px;">
                  <a href="/monthly-competitions/june">
                    <div class="btn btn-primary">Register</div>
                  </a>
                  <a href="https://t.me/s/icmdachennai">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-telegram"></i></div>
                  </a>
                  <a href="/joinWhatsApp">
                    <div class="btn btn-primary">Join &nbsp;<i class="fa fa-whatsapp"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>






        </div>
      </div>

      