<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<a href="http://bootsnipp.com/mouse0270/snippets/4l0k2" class="btn btn-danger hide" id="back-to-bootsnipp">Back to
  Bootsnipp</a>

<div class="container" style="padding:30px">
  <div class="row">
    <div class="col-xs-12 col-sm-4" *ngFor="let item of dashboardList | keyvalue">
      <div class="panel panel-default" >
        <div class="panel-heading c-list">
          <span class="title">{{item.key}}</span>
        </div>
        <div class="row" style="display: none;">
          <div class="col-xs-12">
            <div class="input-group c-search">
              <input type="text" class="form-control" id="contact-list-search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span
                    class="glyphicon glyphicon-search text-muted"></span></button>
              </span>
            </div>
          </div>
        </div>
        <ul class="list-group" id="contact-list" >
          <li class="list-group-item" *ngFor="let user of item.value">
            <div class="col-xs-12 col-sm-3">

                <a href="/idcard/{{user.id}}">
                    <img src="{{user.profile_pic}}" alt="{{user.username}}"
                    class="img-responsive img-circle" />     
                </a>
            </div>
            <div class="col-xs-12 col-sm-9">
              <span class="name">{{user.username}}</span><br />
              <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip"
                title="{{user.address}}"></span>
              <span class="visible-xs"> <span class="text-muted"></span><br /></span>
              <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip"
                title="{{user.mobile}}"></span>
              <span class="visible-xs"> <span class="text-muted"></span><br /></span>
              <span class="fa fa-comments text-muted c-info" data-toggle="tooltip"
                title="{{user.email}}"></span>
              <span class="visible-xs"> <span class="text-muted"></span><br /></span>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
