<h2 style="color:#fc0254;margin-left: 2%; ">STUDENT'S BENEFITS</h2>
<ol class="text-left" style="margin-top: 2%;margin-left: 5%; font-size: 20px;">
    <li> Teachers platform will be arranged.</li>
    <li> Online & Offline classes will be provided.</li>
    <li>You can choose your teacher.</li>
    <li>Scholarships will be provided.</li>
    <li>Concession will be provided for all events and competitions for exclusive members</li>
    <li>Syllabus will be provided by ICMDA for Grade examinations under Govt guidelines.</li>
    <li>Grade examinations will be conducted all over the world every year.</li>
    <li>ICMDA, ISO quality control certification & UASL quality management authorized certificates will be provided </li>
</ol>
<h2 style="color:#fc0254;margin-left: 2%;" >TEACHER'S & ARTIST'S BENEFITS</h2>
<ol class="text-left" style="margin-top: 2%;margin-bottom: 5%; margin-left: 5%; font-size: 20px;">
  <li> We will provide a platform(free) for teachers & students for classes all over the world.</li>
  <li> Organizing programs.</li>
  <li>ICMDA committee halls will be freely provided.</li>
  <li>Abroad tours, marriage, sabha concerts will be arranged (artists)  </li>
  <li>Concession will be provided for all events and competitions for exclusive members</li>
  <li>We will provide Insurance.  </li>
  <li>For the poor artists will be benefited by getting financial support & provisions for the poor artist only.  </li>
  <li>ICMDA, ISO quality control certification & UASL quality management authorized certificates will be provided for music schools, teachers & artists.  </li>   
</ol>