<h2 style="color:#fc0254;margin-left: 2%; ">STUDENT'S BENEFITS</h2>
<ol class="text-left" style="margin-top: 2%;margin-left: 5%; font-size: 20px;">
    <li> TEACHERs PLATFORM will be arranged.
    </li>
    <li> Online & Offline classes will be provided.</li>
    <li>You can choose your teacher.</li>
    <li>Scholarships will be provided.</li>
    <li>Syllabus will be provided by ICMDA Grade examinations under Govt guidelines.</li>
    <li>Grade examinations will be conducted all over the world every year.</li>
    <li>ICMDA, ISO quality control certification & UASL quality management authorized certificates will be provided for
        music schools, teachers & students. </li>
</ol>
<h2 style="color:#fc0254;margin-left: 2%;" >TEACHER'S & ARTIST'S BENEFITS</h2>
<ol class="text-left" style="margin-top: 2%;margin-bottom: 5%; margin-left: 5%; font-size: 20px;">
  <li> TEACHERs PLATFORM will be arranged.
  </li>
  <li> Online & Offline classes will be provided.</li>
  <li>You can choose your teacher.</li>
  <li>Scholarships will be provided.</li>
  <li>Syllabus will be provided by ICMDA Grade examinations under Govt guidelines.</li>
  <li>Grade examinations will be conducted all over the world every year.</li>
  <li>ICMDA, ISO quality control certification & UASL quality management authorized certificates will be provided for music schools, teachers & students. </li>
  </ol>